@media screen and (max-width: 1024px) {

    /* .vtex-flex-layout-0-x-flexRowContent--footer-security-content { */
    .flexRowContent--footer-security-content {
        align-items: center
    }

    /* .vtex-flex-layout-0-x-flexCol--footer-bottom-right { */
    .flexCol--footer-bottom-right {
        flex-direction: row;
        justify-content: center
    }

    /* .vtex-flex-layout-0-x-flexRow--footer-payments-list { */
    .flexRow--footer-payments-list {
        padding-bottom: 128px !important        
    }

    /* .vtex-flex-layout-0-x-flexRow--footer-social { */
    .flexRow--footer-social {
        margin-left: 8px
    }

    /* Ajustes para melhorar o CLS */
    /* .flexRow--footer-logo {
        height: px
    }
    
    .flexRow--footer-content {
        height: px
    }

    .flexRow--footer-social {
        height: px
    }

    .flexRow--footer-bottom {
        height: px
    } */
    
}
