/* Shipping Calculator Block */
.paragraph--shipping-calculate {
    display: flex;
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    /* font-weight: normal; */
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    /* color: #2d2926; */
    color: #161413; /* Validar a cor correta Refresh */
    text-transform: none
}

/* .vtex-rich-text-0-x-paragraph--shipping-calculate::before { */
.paragraph--shipping-calculate::before {
    content: "\F1C7";
    font-family: "Bootstrap-Icons";
    font-size: 20px;
    margin-right: 12px;
    color: #161413 /* Validar a cor correta Refresh */
}

/* Marca Fixa */
/* .vtex-rich-text-0-x-paragraph--product-brand-text-fixed { */
.paragraph--product-brand-text-fixed {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #161413
}
