/* Atraves desse arquivo é possivel customizar o header por namekey de template */
:global(.render-container.render-route-store-product) {
	--header-background-color: transparent;
    --header-text-color: #fff;
    --header-menu-item-highlight-color: #fff;
	--header-menu-border-color: transparent
}

:global(.render-route-store-product .render-provider .vtex-store__template) {
    background-color: unset
}

/* Ajuste - Novo modelo visual Ilan */
:global(.vtex-flex-layout-0-x-flexColChild--product-available):has(:global(.vtex-flex-layout-0-x-flexCol--product-buy-button)) {
    margin-bottom: 24px
}

/* Desktop Force */
@media screen and (min-width: 1025px) {

    /* Fix para altura do header desktop apenas na PDP */
    :global(.render-route-store-product .sunhouse-container-1-x-container--header--desktop) {
        height: 214px !important
        /* height: 262px !important - Altura ja somando a distancia visual ideal entre o bloco de header e o bloco principal do produto */
    }

}

/* Mobile */
@media (max-width: 1024px) {
    
    :global(.render-container.render-route-store-product .sunhouse-container-1-x-wrapper--header--mobile__main),
    :global(.render-container.render-route-store-product .vtex-flex-layout-0-x-flexRow--header-mobile-bottom) {
        background-color: unset !important;
    }

    /* Fix para bloco Youtube Shorts
       Mesmo quando oculto ele causa uma disrupcao no layout Mobile */
    :global(.render-route-store-product .vtex-render__container-id-youtube-shorts) {
        margin-top: 62px
    }

}
