/* .sunhouse-container-1-x-container--ambient-showcase { */
.container--ambient-showcase {
    padding-top: 62px
}

/* .sunhouse-container-1-x-imageElement--ambient-showcase-image { */
.imageElement--ambient-showcase-image {
    min-height: 976px;
    min-width: 598px;
    border-radius: 4px;
    object-fit: cover
}

/* Unique */
/* .sunhouse-container-1-x-container--ambient-showcase_unique { */
.container--ambient-showcase_unique {
    height: 1038px
}

/* Slider */
/* .sunhouse-container-1-x-container--ambient-showcase_slider { */
.container--ambient-showcase_slider {
    max-width: 1220px;
    height: 1099px;
    margin: 0 auto;
    padding-bottom: 24px
}

/* .sunhouse-container-1-x-container--ambient-showcase_shelf { */
.container--ambient-showcase_shelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
