/* .vtex-container-container--ambient-showcase .vtex-flex-layout-0-x-flexRow--ambient-showcase-item .vtex-flex-layout-0-x-stretchChildrenWidth { */
:global(.vtex-container-container--ambient-showcase) .flexRow--ambient-showcase-item .stretchChildrenWidth {
    min-width: 610px
}

/* .vtex-flex-layout-0-x-flexRowContent--ambient-showcase-item .vtex-flex-layout-0-x-stretchChildrenWidth:nth-child(even) .vtex-flex-layout-0-x-flexColChild--ambient-showcase-item { */
.flexRowContent--ambient-showcase-item .stretchChildrenWidth:nth-child(even) .flexColChild--ambient-showcase-item {
    height: auto !important
}

/* .vtex-flex-layout-0-x-flexCol--ambient-showcase-item { */
.flexCol--ambient-showcase-item {
    flex-direction: row
}
