@media screen and (max-width: 1024px) {

    .productNameContainer,
    .productBrandContainer--product-brand {
        /* text-align: center */
        text-align: left /* Ajuste para novo modelo visual mobile com imagem de destaque */
    }

    .productBrandContainer--product-brand {
        margin-top: -10px;
        margin-bottom: 24px
    }

}
