.infoCardContainer--banner-fullwidth-shelf {
    /* height: 100vh; - Deixar assim quebra o posicionamento do elemento filho de shelf, portanto, inviavel manter - EM TESTES usando a definição abaixo */
    height: 100% !important;
    display: flex;
    align-items: flex-end;
    /* height: 820px */
    height: 920px
}

.infoCardContainer--banner-fullwidth-shelf::after {
    /* height: 100vh; - Deixar assim quebra o posicionamento do elemento filho de shelf, portanto, inviavel manter - EM TESTES usando a definição abaixo */
    height: 100% !important;
    top: inherit;
    /* height: 820px */
    min-height: 920px /* Acredito que seja para reduzir LS, mas pode acabar quebrando o layout em algumas resolucoes */
}

/* Desktop Force */
@media screen and (min-width: 1025px) {

    .infoCardContainer--banner-shelf {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

}
