/* Geral */
.imageElement--custom-description-banner {
    width: 100%;
    height: auto;
    margin-left: 12px;
    margin-top: 12px;
    display: block;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 24px);
    box-sizing: border-box;
    /* border-radius: 32px; */
    border-radius: 4px;
    transition: .2s ease
}

.imageElement--custom-description-banner:hover {
    opacity: .8
}

/* Bloco Descricao com Foto */
.imageElement--container_desc-banner__imagemDescricao {
    margin-bottom: 12px;
    max-height: unset !important;
    width: 581px;
    height: 499px
    /* transition: none !important;
    opacity: 1 !important */
}

/* .imageElement--container_desc-banner__imagemDescricao:hover {
    opacity: 1 !important
} */

/* Bloco Titulo e Texto Breve */
.container--custom-block__text-summary {
    margin: 42px 0 12px
}

.container--text-summary_spacer {
    width: 150px;
    height: 6px;
    border-radius: 50px;
    margin: 0 auto
}

.container--text-summary_spacer1 {
    background: #F90041
}

.container--text-summary_spacer2 {
    background: #FFDA00
}

/* Bloco Banner Wide */
.imageElement--banner-fulfill {
    margin-bottom: 12px;
    width: 1174px;
    height: 643px;
    max-height: unset !important
}

/* Bloco Feature Cards */
.container--custom-block__feature-cards {
    margin-right: -12px
}

.imageElement--feature-card__image {
    width: 383px;
    height: 255px
}

/* Bloco Highlights Grid */
.container--highlights-grid__container {
    height: 100%;
    border: 1px solid;
    /* border-radius: 32px; */
    border-radius: 4px;
    padding: 24px
}

/* Bloco Destaques em Grade - Ainda em DEV */
.imageElement--container_highlights-grid__image {
    max-height: unset !important
}

.imageElement--highlights-grid__container-image {
    width: auto !important;
    height: 135px;
    /* border-radius: 32px */
    border-radius: 4px
}

/* Bloco Tres Colunas Fotos Destaque */
.container--custom-block__col-photo-grid {
    margin-right: -12px
}

.imageElement--custom-photo-grid {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: unset !important;
    width: 383px;
    height: 680px
}

/* Bloco FAQ */
.container--custom-block__faq-disclosure {
    margin: 24px 150px 12px 150px;
    background: #eaeae9;
    padding: 25px 50px;
    /* border-radius: 32px */
    border-radius: 4px
}


/* Novos Blocos Edson */
.imageElement--custom-pdp_image {
    max-height: unset !important;
    /* border-radius: 32px */
    border-radius: 4px;
    transition: opacity .2s
}

.imageElement--custom-pdp_image:hover {
    opacity: .8
}

.imageElement--photo-grid-mosaic_col-1 {
    height: 223px
}

.container--photo-grid-mosaic_col-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.imageElementLink--photo-grid-mosaic_col-1:last-child, /* Aqui ele nunca vai aplicar os dois juntos, pois ou tera um link com uma imagem dentro, ou tera somente uma imagem */
.imageElement--photo-grid-mosaic_col-1:last-child {
    grid-column: 1 / -1
}

.imageElement--banner-fulfill_v2 {
    border-radius: 0;
    transition: none !important;
    opacity: 1 !important
}

.imageElement--banner-fulfill_v2:hover {
    opacity: 1 !important
}

.imageElement--photo-grid-mosaic {
    max-height: initial !important
}

/* Aplica esse atributo em ambos blocos photo-grid-mosaic */
.container--custom-block__photo-grid-mosaic {
    padding-bottom: 48px;
}
/* Aplica esse atributo em ambos blocos photo-grid-mosaic */

.imageElement--feature-card-v2__image {
    margin-bottom: 28px
}
/* Novos Blocos Edson */


/* Force Desktop */
@media screen and (min-width: 1025px) {

    .container--custom-block__container {
        max-width: 1220px;
        margin: 0 auto
    }
    
    .container--custom-block__feature-cards-v2 {
        padding: 23px 0
    }

    /* A ajustar medida correta */
    .imageElement--feature-card-v2__image {
        /* width: 383px;
        height: 383px */
        max-height: unset
    }
    /* A ajustar medida correta */

    /* In DEV */
    /* .wrapper--photo-grid-mosaic_2 {
        display: grid -> So bugou tudo
    } */
    
    .container--photo-grid-mosaic_2 {
        display: grid;
        gap: 28px;
        margin: 28px 0;
        height: 100%
        /* max-height: 886px; */
        /* overflow: hidden; */
    }

    .wrapper--photo-grid-mosaic_2 {
        width: fit-content;
        margin: 0 auto
    }

    .imageElement--photo-grid-mosaic_col-2 {
        height: 473px
    }

    .imageElement--photo-grid-mosaic_2 {
        display: block;
        /* width: 100%; */
        height: 100%;
        /* object-fit: cover; */
    }

    /* .imageElementLink--photo-grid-mosaic_2 { -> Pode bugar nao ativar essa, pois nao vai aplicar o sistema de grid em alguns casos
        display: grid
    } */
    
    .imageElementLink--photo-grid-mosaic_2:first-child,  /* Aqui ele nunca vai aplicar os dois juntos, pois ou tera um link com uma imagem dentro, ou tera somente uma imagem */
    .imageElement--photo-grid-mosaic_2:first-child {
        grid-area: 1 / 1 / 3 / 2
    }

    .imageElementLink--photo-grid-mosaic_2:last-child,  /* Aqui ele nunca vai aplicar os dois juntos, pois ou tera um link com uma imagem dentro, ou tera somente uma imagem */
    .imageElement--photo-grid-mosaic_2:last-child {
        grid-area: 2 / 2 / 3 / 3
    }
    /* In DEV */
    /* Novos Blocos Edson END */

}

/* Mobile Geral */
@media screen and (max-width: 1024px) {

    /* Imagens Geral*/
    .imageElement--custom-description-banner {
        margin-left: unset;
        max-width: unset
    }

    /* Bloco Descricao com Foto */
    .imageElement--container_desc-banner__imagemDescricao {
        height: auto
    }

    /* Bloco Banner Wide - nao sera exibido no mobile a principio - ver se buga deixar comentado a aplicacao abaixo */
    /* .imageElement--banner-fulfill {
        width: 376px !important;
        height: 480px
    } */

    /* Bloco Feature Cards */
    .imageElement--feature-card__image {
        width: calc(100% - 24px) !important;
        height: auto
    }

    /* Bloco Col Features - Sem Carrossel no mobile */
    .imageElement--feature-col__image {
        height: auto
    }

    /* Bloco Tres Colunas Fotos Destaque */
    .imageElement--custom-photo-grid {
        height: auto
    }

    /* Bloco FAQ */
    .container--custom-block__faq-disclosure {
        margin-top: unset;
        margin-right: unset;
        margin-bottom: unset;
        /* margin-left: 12px; */
        margin-left: 0;
        padding: 20px 30px
    }

    /* Novos Blocos Edson START */
    .container--photo-grid-mosaic_col-1 {
        gap: 12px
    }

    .imageElement--photo-grid-mosaic_col-1 {
        height: auto
    }

    .container--photo-grid-mosaic_2 {
        display: grid;
        gap: 12px
    }
    /* Novos Blocos Edson END */
    
}
