.sliderLayoutContainer--slider__custom-photo-grid {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 6px
}

.imageElement--slider__custom-photo-grid {
    /* border-radius: 8px */
    border-radius: 32px
}
.imageElement--slider-custom {
    transition: .2s ease
}

.imageElement--slider-custom:hover{
    opacity: .8
}

.paginationDotsContainer--slider__custom-photo-grid {
    margin-bottom: 12px
}

.sliderTrackContainer--slider__feature-cards_text {
    margin-right: 12px
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .slideChildrenContainer--slider__custom-photo-grid {
        margin-right: 12px
    }
    
    .sliderTrack--slider__custom-photo-grid {
        padding: 13px 26px
    }
    
    .imageElement--slider__custom-photo-grid {
        box-shadow: 0px 0px 6px #ccc
    }
}

/* Mobile */
@media screen and (max-width: 1024px) {

    .sliderLayoutContainer--slider__custom-photo-grid {
        margin-top: 24px;
        margin-left: 0
    }

    .slideChildrenContainer--slider__feature-cards_text {
        margin-bottom: 28px
    }

    .paginationDotsContainer--slider__feature-cards_text {
        bottom: 18px;
    }

    .sliderTrackContainer--slider__feature-cards_text {
        margin-right: unset;
        margin-bottom: 24px
    }

    /* Novos Blocos Edson START */
    .sliderTrackContainer--slider__feature-cards {
        margin-left: 12px
    }

    .sliderTrackContainer--slider__feature-cards-v2 {
        margin-right: 12px !important
    }
    /* Novos Blocos Edson END */

}
