/* Geral */
.imageElement--custom-description-banner {
    width: 100%;
    height: auto;
    margin-left: 12px;
    margin-top: 12px;
    display: block;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 24px);
    box-sizing: border-box;
    border-radius: 8px;
    transition: .2s ease
}

.imageElement--custom-description-banner:hover {
    opacity: .8
}

/* Bloco Descricao com Foto */
.imageElement--container_desc-banner__imagemDescricao {
    margin-bottom: 12px;
    max-height: unset !important;
    width: 581px;
    height: 499px
}

/* Bloco Titulo e Texto Breve */
.container--custom-block__text-summary {
    margin: 42px 0 12px
}

.container--text-summary_spacer {
    width: 150px;
    height: 6px;
    border-radius: 50px;
    margin: 0 auto
}

.container--text-summary_spacer1 {
    background: #F90041
}

.container--text-summary_spacer2 {
    background: #FFDA00
}

/* Bloco Banner Wide */
/*.imageElement--main-banner-wide {*/
.imageElement--banner-fulfill {
    margin-bottom: 12px;
    width: 1174px;
    height: 643px;
    max-height: unset !important
}

/* Bloco Feature Cards */
.container--custom-block__feature-cards {
    margin-right: -12px
}

.imageElement--feature-card__image {
    width: 383px;
    height: 255px
}

/* Bloco Highlights Grid */
.container--highlights-grid__container {
    height: 100%;
    border: 1px solid;
    border-radius: 8px;
    padding: 24px
}

/* Bloco Destaques em Grade - Ainda em DEV */
.imageElement--container_highlights-grid__image {
    max-height: unset !important
}

/*.container--highlights-grid__container-image {
    width: fit-content !important
}*/

.imageElement--highlights-grid__container-image {
    width: auto !important;
    height: 135px;
    border-radius: 8px
    /*min-height: 135px;*/
}

/* Bloco Tres Colunas Fotos Destaque */
.container--custom-block__col-photo-grid {
    margin-right: -12px
}

.imageElement--custom-photo-grid {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: unset !important;
    width: 383px;
    height: 680px
}

/* Bloco FAQ */
.container--custom-block__faq-disclosure {
    margin: 24px 150px 12px 150px;
    background: #eaeae9;
    padding: 25px 50px;
    border-radius: 8px
}

/* Mobile Geral */
@media screen and (max-width: 1024px) {
    /* Bloco Descricao com Foto */
    .imageElement--container_desc-banner__imagemDescricao {
        height: auto
    }

    /* Bloco Banner Wide - nao sera exibido no mobile a principio */
    .imageElement--banner-fulfill {
        width: 376px !important;
        height: 480px
    }

    /* Bloco Feature Cards */
    .imageElement--feature-card__image {
        width: calc(100% - 24px) !important;
        height: auto
    }

    /* Bloco Col Features - Sem Carrossel no mobile */
    .imageElement--feature-col__image {
        height: auto
    }

    /* Bloco Tres Colunas Fotos Destaque */
    .imageElement--custom-photo-grid {
        height: auto
    }

    /* Bloco FAQ */
    .container--custom-block__faq-disclosure {
        margin-top: unset;
        margin-right: unset;
        margin-bottom: unset;
        margin-left: 12px;
        padding: 20px 30px
    }
}