.flexCol--blocks__product-description-custom {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box
}

.flexColChild--blocks__product-description-custom {
    margin-right: 12px
}

/* Alinha verticalmente centralizado o primeiro bloco - Bloco Descricao com Foto */
.flexRowContent--desc-banner__row {
    align-items: center;
    justify-content: center;
    height: 100%
}

/* Bloco Hightlights Grid */
.flexCol--highlights-grid__col-2 {
    max-height: 185px;
}

.flexColChild--highlights-grid__col-2 {
    margin-top: 12px;
    margin-left: 24px
}


/* In DEV */
.flexRow--line-wrapper {
    width: 100vw; /* ocupa 100% da viewport */
    margin-left: calc(-50vw + 50%); /* "compensa" o container centralizado */
    padding: 32px 0
    /* DEBUG: */
    ;background: #0000ff69
}

/* DEBUG */
.flexRow--line-wrapper-white {
    background: #fff !important
}
/* DEBUG */

.flexRow--line-wrapper-odd {
    /* DEBUG:
    background: #ffaaa4e7 */
    background: #c9c8c8
}

.flexRow--text-highlight {
    background: #323232
}

.flexRow--banner-fulfill_v2 {
    padding: 0 !important
}

/* Force Desktop */
@media screen and (min-width: 1025px) {

    .flexRow--banner-fulfill-mobile {
        display: none
    }

}