.flexCol--blocks__product-description-custom {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box
}

.flexColChild--blocks__product-description-custom {
    margin-right: 12px
}

/* Alinha verticalmente centralizado o primeiro bloco - Bloco Descricao com Foto */
.flexRowContent--desc-banner__row {
    align-items: center;
    justify-content: center;
    height: 100%
}

/* Bloco Hightlights Grid */
.flexCol--highlights-grid__col-2 {
    max-height: 185px;
}

.flexColChild--highlights-grid__col-2 {
    margin-top: 12px;
    margin-left: 24px
}