/* Desc Banner */
.container--wrapper__textoDescricao-esquerda .wrapper {
    align-items: center;
    justify-content: center;
    height: 100%
}

.wrapper--wrapper__textoDescricao-esquerda {
    /* margin: 32px */
    margin: 62px /* Ajuste para o Refresh */
}

.container--wrapper__textoDescricao-esquerda {
    align-items: center;
    justify-content: center;
    height: 100%
}

.wrapper--wrapper__textoDescricao-esquerda .heading {
    margin-bottom: 25px !important;
    /* text-transform: uppercase;
    font-size: 1.75rem */
}

.wrapper--wrapper__textoDescricao-esquerda .paragraph {
    /* line-height: 1.25; */
    line-height: 1.5;
    text-align: justify
}

.wrapper--wrapper__textoDescricao-esquerda .link {
    color: #F90041
}

/* Bloco Titulo e Texto Breve */
.wrapper--text-summary__text {
    text-align: center;
    /* max-width: 520px; */
    /* padding-top: 12px !important */
    padding-top: 12px
}

.wrapper--text-summary__text .heading {
    margin-bottom: 18px
}

.wrapper--text-summary__text .paragraph {
    line-height: 1.5;
    font-size: 20px
}

/* Text Summary Blocks */
.wrapper--wrapper__custom-description-title {
    margin: 0 auto;
    /* padding-top: 42px; */
    padding-bottom: 18px
}

.wrapper--wrapper__custom-description-title .heading {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 18px !important;
    /* font-size: 38px; */
    font-size: 2.3rem !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #000
}

.wrapper--wrapper__custom-description-title .paragraph {
    max-width: 785px
}

.wrapper--wrapper__custom-description-text {
    margin: 12px
}

.wrapper--wrapper__custom-description-text .heading {
    /* font-size: 1.6rem;
    margin-bottom: 12px !important */
    font-size: 2.1rem;
    text-transform: uppercase;
    line-height: 40px;
    margin-top: 28px;
    margin-bottom: 28px
}

.wrapper--wrapper__custom-description-text .paragraph {
    line-height: 1.5
}

/* FAQ */
.wrapper--faq-disclosure-line__title .heading {
    font-size: 17px;
    line-height: 1.35
}

.wrapper--faq-disclosure-line__text .paragraph {
    margin-top: 18px;
    /* line-height: 1.35; */
    line-height: 1.5;
    border: none
}

/* Novos Blocos Edson START */
.headingLevel2--pdp-h2-title,
.headingLevel3--pdp-h3-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #000
}

.headingLevel3--pdp-h3-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: #323232
}

.headingLevel2--pdp-h2-title {
    font-size: 2.3rem
}

.headingLevel3--pdp-h3-title {
    font-size: 1.84rem
}

.headingLevel3--pdp-h3-subtitle {
    font-size: 2.1rem;
    line-height: 40px;
    margin-bottom: 28px
}

.list--mosaic-w-text_col-1_text {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    padding: 0;
    padding-left: 18px !important
}

.wrapper--photo-grid-mosaic-text {
    max-width: 740px
}

.headingLevel2--photo-grid-mosaic-text {
    line-height: 44px
}

.wrapper--feature-card-v2_text {
    margin: 0 30px
}

.paragraph--feature-card-v2_text {
    line-height: 1.5
}
/* Novos Blocos Edson END */


@media screen and (max-width: 1024px) {

    /* Titulo Bloco Descricao com Foto */
    .wrapper--wrapper__textoDescricao-esquerda .heading {
        /* font-size: 26px; */
        text-align: center;
        line-height: 40px
    }

    /* Titulo solto para Blocos */
    .wrapper--wrapper__custom-description-title .heading {
        font-size: 24px;
        text-align: center
    }

    /* FAQ*/
    .wrapper--faq-disclosure-line__title .heading {
        font-size: 15px !important;
        margin-top: 12px;
        margin-bottom: 12px
    }
    
    .wrapper--faq-disclosure-line__text .paragraph {
        font-size: 15px !important
    }

    /* Novos Blocos Edson START */
    .headingLevel3--mosaic-w-text_col-1_text,
    .paragraph--mosaic-w-text_col-1_text {
        text-align: center
    }
    
    /* Pode bugar em alguns casos, mas eu preferi manter a lista mais para a esquerda
    .list--mosaic-w-text_col-1_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 !important
    } */
    /* Novos Blocos Edson END */

}
