/* Desc Banner */
.container--wrapper__textoDescricao-esquerda .wrapper {
    align-items: center;
    justify-content: center;
    height: 100%
}

.wrapper--wrapper__textoDescricao-esquerda {
    margin: 32px
}

.container--wrapper__textoDescricao-esquerda {
    align-items: center;
    justify-content: center;
    height: 100%
}

.wrapper--wrapper__textoDescricao-esquerda .heading {
    margin-bottom: 25px !important;
    text-transform: uppercase;
    font-size: 1.75rem
}

.wrapper--wrapper__textoDescricao-esquerda .paragraph {
    line-height: 1.25;
    text-align: justify
}

.wrapper--wrapper__textoDescricao-esquerda .link {
    color: #F90041
}

/* Bloco Titulo e Texto Breve */
.wrapper--text-summary__text {
    text-align: center;
    /* max-width: 520px; */
    /* padding-top: 12px !important */
    padding-top: 12px
}

.wrapper--text-summary__text .heading {
    margin-bottom: 18px
}

.wrapper--text-summary__text .paragraph {
    line-height: 1.35;
    font-size: 20px
}

/* Text Summary Blocks */
.wrapper--wrapper__custom-description-title {
    margin: 0 auto;
    /* padding-top: 42px; */
    padding-bottom: 18px
}

.wrapper--wrapper__custom-description-title .heading {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 18px !important;
    font-size: 38px
}

.wrapper--wrapper__custom-description-title .paragraph {
    max-width: 785px
}

.wrapper--wrapper__custom-description-text {
    margin: 12px
}

.wrapper--wrapper__custom-description-text .heading {
    font-size: 1.6rem;
    margin-bottom: 12px !important
}

.wrapper--wrapper__custom-description-text .paragraph {
    line-height: 1.35
}

/* FAQ */
.wrapper--faq-disclosure-line__title .heading {
    font-size: 17px;
    line-height: 1.35
}

.wrapper--faq-disclosure-line__text .paragraph {
    margin-top: 18px;
    line-height: 1.35;
    border: none
}

@media screen and (max-width: 1024px) {
    /* Titulo Bloco Descricao com Foto */
    .wrapper--wrapper__textoDescricao-esquerda .heading {
        font-size: 26px
    }

    /* Titulo solto para Blocos */
    .wrapper--wrapper__custom-description-title .heading {
        font-size: 24px
    }

    /* FAQ*/
    .wrapper--faq-disclosure-line__title .heading {
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 12px
    }
    
    .wrapper--faq-disclosure-line__text .paragraph {
        font-size: 15px
    }
}