.flexCol--blocks__product-description-custom {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box
}

.flexColChild--blocks__product-description-custom {
    margin-right: 12px
}

/* Alinha verticalmente centralizado o primeiro bloco - Bloco Descricao com Foto */
.flexRowContent--desc-banner__row {
    align-items: center;
    justify-content: center;
    height: 100%
}

/* Bloco Hightlights Grid */
.flexCol--highlights-grid__col-2 {
    max-height: 185px;
}

.flexColChild--highlights-grid__col-2 {
    margin-top: 12px;
    margin-left: 24px
}

.flexRow--text-summary2 {
    padding-bottom: 0 !important
}

/* Novos Blocos Edson START */
.flexRow--line-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 32px 0
}

.flexRow--line-wrapper-odd {
    background: #c9c8c8
}

.flexRow--text-highlight {
    background: #323232
}

.flexRow--banner-fulfill_v2 {
    padding: 0 !important
}

.flexRow--mosaic-w-text-wrapper {
    margin-top: 32px
}

.flexCol--mosaic-w-text_col-1_text {
    /* max-width: 70%; */
    padding: 0px 72px
}

.flexRow--text-highlight {
    padding: 0 !important
}

.flexCol--photo-grid-mosaic_col-2 {
    max-height: 669px
}
/* Novos Blocos Edson END */

/* Force Desktop */
@media screen and (min-width: 1025px) {

    .flexRow--banner-fulfill-mobile {
        display: none
    }

    .flexRow--photo-grid-mosaic_2 {
        margin-bottom: -48px
    }

    .flexRow--faq-disclosure {
        margin-top: 48px
    }

    /* Novos Blocos Edson START */
    .flexRow--photo-grid-mosaic-wrapper {
        /* padding-bottom: 56px; */
        margin: 0 184px;
        height: 473px;
        overflow: hidden
    }
    /* Novos Blocos Edson END */

}

/* Mobile */
@media screen and (max-width: 1024px) {

    .flexRow--banner-fulfill-desk {
        display: none
    }

    .flexRow--text-summary2 {
        padding-top: 0 !important
    }
    
    /* Novos Blocos Edson START */
    /* .vtex-flex-layout-0-x-flexRow--line-wrapper { */
    .flexRow--line-wrapper {
        /* DEBUG */
        /* background: #088700 !important; */
        /* DEBUG */
        
        width: 103vw;
        padding-left: 18px;
        padding-right: 18px
    }

    .flexCol--mosaic-w-text_col-1_text {
        padding: 0px 28px
    }

    .flexRow--text-highlight {
        padding: 0 28px !important
    }

    .flexCol--photo-grid-mosaic_col-2 {
        margin: 0 auto;
        padding-top: 12px
    }
    /* Novos Blocos Edson END */

}