/* A PRINCIPIO ESTOU APLICANDO AS ALTERACOES DO REFRESH AQUI
   VERIFICAR SE PRECISA SER DIVIDIDO EM ARQUIVOS SEPARADOS */

.container {
    display: flex;
    align-items: center;
}

.container::-webkit-scrollbar {
    height: 6px;
}

.container--search-result {
    padding: 10px 0 8px;
    white-space: nowrap;
    overflow: auto;
    position: relative;
    padding-block: 14px;
}

.container--search-result::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.container--search-not-found {
    padding: 28px 0 22px;
}

.container--product-page {
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 0;
    /* margin-bottom: 8px; */
    margin: 148px auto 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 4px
}

.container .arrow {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.container .arrow:last-child .link {
    font-weight: 700;
}

.container .link {
    padding: 0;
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: #2d2926;
}

.container .link--search-not-found--1 {
    line-height: unset;
    font-size: 0;
}

.container .link--search-not-found--1::after {
    content: "Busca não encontrada";
    font-size: 12px;
}

.container .term--product-page {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    padding: 0
    /* text-transform: uppercase; */
}

.container .caretIcon {
    height: 9px;
    width: 9px;
    color: #2d2926;
    padding-right: 8px;
}

@media screen and (min-width: 1024px) {
    .container::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    .container::-webkit-scrollbar-track {
        /* background: #fff099; */
        background-color: #2d29265b; /* Ajustar cor posteriormente para padrao Edson */
        border-radius: 100px;
    }
    .container ::-moz-scrollbar-button,
    .container ::-webkit-scrollbar-button {
        width: 0;
    }
    .container::-webkit-scrollbar-thumb {
        /* background: #ffe133; */
        background-color: #2d2926; /* Ajustar cor posteriormente para padrao Edson */
        border-radius: 100px;
    }
    .container::-webkit-scrollbar-thumb:hover {
        /* background: #e7cc2f; */
        opacity: 0.7 /* Ajustar posteriormente para padrao Edson */
    }
}

/* Mobile*/
@media screen and (max-width: 1024px) {

    .container--product-page {
        margin: 15px 0;
    }
    
}
