:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer {
    position: initial;
    float: unset;
    border-bottom: 1px solid #aba9a8
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer {
    height: 100%;
    width: 100%
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer {
    height: 100%;
    width: 100%
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer .minicartIconContainer {
    display: flex;
    color: #2d2926
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer .minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon) {
    order: 1;
    margin-right: 18px
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer .minicartIconContainer::before {
    content: "Sacola ";
    white-space: pre;
    font-size: 14px;
    font-weight: 700;
    order: 2
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer .minicartIconContainer .minicartQuantityBadge {
    order: 3
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer .minicartIconContainer::after {
    content: " itens";
    white-space: pre;
    font-size: 14px;
    font-weight: 400;
    order: 4
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) {
    height: 100%;
    width: 100%;
    padding: 14px 25px;
    min-height: unset;
    text-transform: none
}

:global(.vtex-container-container--menu-mobile-controls) .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) {
    justify-content: flex-start
}

.drawer--minicart,
.drawerContent--minicart {
    overflow-x: hidden;
    height: 100%;
    /*max-height: 602px;
    max-height: / Setar algum valor que nao defina um padrao /; */
    overflow: hidden
}

.drawer--minicart .childrenContainer--minicart,
.drawerContent--minicart .childrenContainer--minicart {
    height: 100%
}

.minicartSideBarContentWrapper--minicart {
    height: 100% !important
}

.minicartEmptyStateContainer {
    position: relative;
    height: 75%
}

.minicartEmptyStateContainer :global(.vtex-store-icons-0-x-cartIcon) {
    color: #2d2926
}

.minicartEmptyStateContainer :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2d2926;
    text-align: center
}

.minicartTitle,
.closeIconContainer--minicart {
    display: none
}

.openIconContainer--minicart-main,
.openIconContainer--minicart-sidebar {
    padding: 0;
    color: #2d2926
}

.openIconContainer--minicart-main :global(.vtex-button),
.openIconContainer--minicart-sidebar :global(.vtex-button) {
    border: none
}

.openIconContainer--minicart-main :global(.vtex-button):hover,
.openIconContainer--minicart-main :global(.vtex-button):focus,
.openIconContainer--minicart-main :global(.vtex-button):active,
.openIconContainer--minicart-sidebar :global(.vtex-button):hover,
.openIconContainer--minicart-sidebar :global(.vtex-button):focus,
.openIconContainer--minicart-sidebar :global(.vtex-button):active {
    background-color: rgba(0, 0, 0, 0)
}

.openIconContainer--minicart-main :global(.vtex-button__label),
.openIconContainer--minicart-sidebar :global(.vtex-button__label) {
    padding: 0
}

.minicartContainer--minicart-sidebar {
    width: 100%
}

.minicartContainer--minicart-sidebar :global(.vtex-button) {
    width: 100%
}

.minicartIconContainer--minicart-main {
    padding: 0;
    display: flex;
    align-items: center;
    color: #2d2926
}

.minicartIconContainer--minicart-main :global(.vtex-store-icons-0-x-cartIcon) {
    color: var(--header-text-color);
    margin-right: 9.25px
}

.minicartIconContainer--minicart-sidebar {
    width: 100%;
    background: #252525;
    height: 48px;
    border: 1px solid #fff;
    border-top: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px
}

.minicartIconContainer--minicart-sidebar :global(.vtex-store-icons-0-x-cartIcon) {
    color: #fff;
    margin-right: 16.13px
}

.minicartQuantityBadge {
    position: static;
    background-color: rgba(0, 0, 0, 0);
    padding: 0
}

.minicartQuantityBadge--minicart-main:not(.minicartQuantityBadgeOut) {
    text-align: center;
    justify-content: flex-start;
    width: auto;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--header-text-color)
}

.minicartQuantityBadge--minicart-main:not(.minicartQuantityBadgeOut)::after {
    font-weight: 400;
    content: ")"
}

.minicartQuantityBadge--minicart-main:not(.minicartQuantityBadgeOut)::before {
    font-weight: 400;
    content: "("
}

.minicartQuantityBadge--minicart-main:not(.minicartQuantityBadgeOut)::after,
.minicartQuantityBadge--minicart-main:not(.minicartQuantityBadgeOut)::before {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--header-text-color)
}

.minicartQuantityBadge--minicart-sidebar:not(.minicartQuantityBadgeOut) {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    width: 100%;
    justify-content: flex-start
}

.minicartQuantityBadge--minicart-sidebar:not(.minicartQuantityBadgeOut)::after {
    content: ") itens";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    /* font-family: "Open Sans", sans-serif */
    font-family: "Montserrat", "Open Sans", sans-serif
}

.minicartQuantityBadge--minicart-sidebar:not(.minicartQuantityBadgeOut)::before {
    content: "Carrinho (";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    /* font-family: "Open Sans", sans-serif */
    font-family: "Montserrat", "Open Sans", sans-serif
}

:global(.vtex-flex-layout-0-x-flexRow) .minicartQuantityBadge {
    font-size: 14px;
    font-style: normal;
    font-weight: 400
}

.minicartQuantityBadgeOut--header-quantity {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2d2926;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0
}

.minicartQuantityBadgeOut--header-quantity::before {
    content: "("
}

.minicartQuantityBadgeOut--header-quantity .minicartQuantityBadgeText::before {
    content: ") "
}

.minicartProductListContainer {
    padding: 0 38px 0 38px;
    overflow-y: auto;
    /*max-height: 359px*/
    height: calc(100% - 260px)
}

.minicartProductListContainer::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

.minicartProductListContainer::-webkit-scrollbar-track {
    background: #ede8ec;
    border-radius: 100px
}

.minicartProductListContainer ::-moz-scrollbar-button,
.minicartProductListContainer ::-webkit-scrollbar-button {
    width: 0px
}

.minicartProductListContainer::-webkit-scrollbar-thumb {
    background: #ffe133;
    border-radius: 100px
}

.minicartProductListContainer::-webkit-scrollbar-thumb:hover {
    background: #ffe966
}

.minicartSummary {
    padding: 0
}

.minicartQuantityBadgeOut--footer-quantity {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #2d2926;
    justify-content: flex-end
}

.minicartCheckoutButton {
    margin: 0 0 0 auto;
    padding: 0;
    max-width: 228px;
    width: 100%
}

.minicartCheckoutButton :global(.vtex-button) {
    padding: 0;
    background: #44b32e;
    border: 1px solid #44b32e;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    transition: all .4s
}

.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label) {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    text-transform: none;
    font-size: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff
}

.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label)::after {
    content: "Finalizar compra";
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700
}

.minicartCheckoutButton :global(.vtex-button):hover {
    background: #2a9620;
    border-color: #2a9620
}

@media screen and (max-width: 1024px) {

    .drawer--minicart,
    .drawerContent--minicart {
        max-height: 100%
    }

    .minicartEmptyStateContainer {
        padding: 0 15px
    }

    .minicartIconContainer--minicart-main :global(.vtex-store-icons-0-x-cartIcon) {
        margin-right: 4px
    }

    .minicartContentContainer {
        height: calc(100% - 53px);
        padding-top: 10px
    }

    .minicartProductListContainer {
        padding: 0 20px;
        height: 100%;
        max-height: 100%;
        max-width: 98%
    }

    .minicartCheckoutButton {
        max-width: initial;
        width: 95%
    }
}

@media screen and (max-width: 768px) {

    .drawer--minicart,
    .drawerContent--minicart {
        width: 100% !important
    }
}

@media screen and (max-width: 638px) {
    .minicartCheckoutButton {
        width: 100%;
        margin-top: 10px
    }
}