.buyTogetherContainer {
    margin: 21px 0 22px
}

.buyTogetherContainer .buyTogetherTitleContainer {
    justify-content: flex-start;
    justify-items: start
}

.buyTogetherContainer .buyTogetherTitleContainer .buyTogetherTitle {
    margin-bottom: 37px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700
}

.buyTogetherContainer .currentProduct {
    padding: 0
}

.buyTogetherContainer :global(.vtex-store-icons-0-x-plusIcon) {
    width: 27px;
    height: 27px;
    color: #2d2926
}

.buyTogetherContainer .productList {
    padding: 0
}

.buyTogetherContainer .productList .buyTogetherProductList {
    padding: 0 50px;
    max-width: 393px
}

.buyTogetherContainer .arrow {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, .5);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s
}

.buyTogetherContainer .arrow.arrowDisabled {
    pointer-events: none;
    opacity: .5
}

.buyTogetherContainer .arrow .caretIcon {
    color: #2d2926;
    transition: all .4s
}

.buyTogetherContainer .arrow:hover {
    background-color: #ffda00
}

.buyTogetherContainer .arrow:hover .caretIcon {
    color: #2d2926
}

.buyTogetherContainer .arrow.arrowNext {
    right: 0
}

.buyTogetherContainer .arrow.arrowPrev {
    left: 0
}

.buyTogetherContainer .buyTogetherProductItem {
    width: 100% !important;
    max-width: 293px !important;
    padding: 0
}

.buyTogetherContainer .buyTogetherInfo {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #2d2926;
    text-align: center;
    padding-bottom: 2px
}

.buyTogetherContainer .buyTogetherInfo::after {
    margin-top: 9px;
    display: block;
    content: "por apenas";
    font-size: 16px;
    font-style: normal;
    font-weight: 400
}

.buyTogetherContainer .totalValue {
    margin: 32px 0 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #2d2926;
    text-transform: unset;
    font-size: 0px
}

.buyTogetherContainer .totalValue .currencyContainer {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px
}

.buyTogetherContainer .buyButton :global(.vtex-button) {
    width: 250px;
    background: #ffe133;
    border: 1px solid #ffe133;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    transition: all .2s
}

.buyTogetherContainer .buyButton :global(.vtex-button):hover {
    background: #ffe966 !important;
    border-color: #ffe966
}

.buyTogetherContainer .buyButton :global(.vtex-button):hover :global(.vtex-button__label) {
    color: #fff
}

.buyTogetherContainer .buyButton :global(.vtex-button) :global(.vtex-button__label) {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    transition: all .4s;
    text-transform: none
}

@media screen and (max-width: 638px) {
    .buyTogetherContainer .buyTogetherTitleContainer .buyTogetherTitle {
        margin: 0 0 10px
    }

    .buyTogetherContainer :global(.vtex-store-icons-0-x-plusIcon) {
        margin: 20px 0
    }

    .buyTogetherContainer .productList {
        max-width: 363px
    }
}