/* Deprecated - Nao sera mais usado */
/* .dimensionsContainer {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap
}

.dimensionsContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.dimensionsContainer::-webkit-scrollbar-track {
    background: #e7e7e7;
    border-radius: 0px
}

.dimensionsContainer ::-moz-scrollbar-button,
.dimensionsContainer ::-webkit-scrollbar-button {
    width: 0px
}

.dimensionsContainer::-webkit-scrollbar-thumb {
    background: #727273;
    border-radius: 0px
}

.dimensionsContainer::-webkit-scrollbar-thumb:hover {
    background: #8b8b8d
}

.dimensionsContainer .dimension {
    color: #2d2926;
    / min-width: 120px; /
    min-width: 112px;
    max-width: 120px;
    font-size: 16px;
    border: solid 1px #c0bfbe;
    border-radius: 8px;
    padding: 12px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px
}

.dimensionsContainer::after {
    content: "*Dimensões do Produto Montado";
    position: absolute;
    margin-top: 95px;
    transition: 0.3s;
    color: #2d2926;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 190px)
}

@media screen and (max-width: 1024px) {
    .dimensionsContainer {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        / margin-top: 18px; /
        margin-top: 34px;
        margin-bottom: 24px
    }

    .dimensionsContainer .dimension {
        max-width: unset
    }

    .dimensionsContainer::after {
        position: absolute;
        margin-top: -25px;
        width: auto
    }
} */