.container--container-center {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}

.wrapper--newsletter {
    background-color: #f90041;
    padding-block: 25px;
    /* liveseo */
    width: 100%;
    height: 226px
}

.wrapper--newsletter .container--newsletter {
    display: flex;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    flex-direction: column
}

.wrapper--newsletter .container--newsletter-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1020px
}

.wrapper--newsletter .container--newsletter-content-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    gap: 16px
}

.container--success-newsletter {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center
}

.container--newsletter-banner {
    width: 100%
}

.container--newsletter-banner :global(.vtex-store-components-3-x-imageElement--banner-newsletter-bottom) {
    max-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%
}

/* Movido para o arquivo common/footer/sunhouse.container.css
.container--footer-social-content {
    padding-block: 14px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center
} */

/* Movido para o arquivo common/footer/sunhouse.container.css
.container--footer-social-content .imageElementLink .imageElement {
    max-height: 26px
} */

.container--under-footer-content {
    background-color: #fff
}

.container--container-image-newsletter-mobile :global(.vtex-store-components-3-x-imageElement) {
    width: 100%
}

.container--footer-link-social-medias-icons {
    padding: 0 15px 15px;
    gap: 15px;
    display: flex;
    background-color: #ffe133
}

.container--title-social-medias {
    border-top: 1px solid #aba9a8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 48px;
    padding-inline: 22px
}

.container--footer-selos-mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 18px 0;
    gap: 30px;
    border-top: solid 1px #aba9a8
}

.container--footer-selos-mobile :global(.vtex-store-components-3-x-eplusIcon) {
    color: #5bb24f
}

.container--float-elements {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none
}

.wrapper--top-bar {
    background-color: #eaeae9
}

/* Movido para common/header/menu/sunhouse.container.css
.container--greeting {
    gap: 8px;
    display: flex;
    justify-content: center;
    padding-top: 2px
}

.container--greeting::before {
    display: inline-flex;
    content: "";
    font-size: 18px;
    font-family: "fantasticon";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #2d2926
}

.container--greeting--title::before {
    color: var(--header-text-color)
} */


/* Movido para common/header/sunhouse.container.css
.container--header--desktop__main {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container--header--desktop__controls {
    display: flex;
    align-items: center;
    gap: 38px;
    color: #2d2926
}

.container--header--desktop__controls--left {
    visibility: var(--header-left-controls-visibility);
    opacity: var(--header-left-controls-opacity)
}

.container--header--desktop__controls--right {
    gap: var(--header-right-controls-gap);
    transition: all .2s
} */

/* Movido para common/header/menu/sunhouse.container.css
.container--menu {
    border-bottom: 1px solid var(--header-menu-border-color);
    height: var(--header-menu-wrapper-size);
    transition: all .2s
}

.container--menu .wrapper--department-content {
    width: 100vw;
    position: fixed;
    left: calc(50% + var(--header-department-content-left-offset));
    translate: -50%;
    background-color: #fff;
    transition: all .2s;
    align-items: center;
    transition-delay: .2s;
    opacity: 0;
    visibility: hidden;
    top: var(--header-department-content-top-offset)
}

.container--menu .wrapper--department-content .container--department-content {
    display: flex;
    border-top: solid 1px #575451
}

.container--menu .container--department-image {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
} */

.container--mobile-login {
    padding: 18px 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aba9a8;
    background-color: #ffda00
}

.container--mobile-login::before {
    display: inline-flex;
    content: "";
    font-size: 21px;
    font-family: "fantasticon";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #2d2926;
    margin-right: 15px
}

.container--menu-mobile-controls {
    width: 100%;
    display: flex;
    flex-direction: column
}

.container--header--mobile__main {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container--header--desktop {
    /* height: 152px */
    height: 0 !important
}

.container--search-bar-content {
    position: relative
}

.container--search-bar-content :global(.vtexarg-speech-to-text-1-x-audioSearchContainer) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: -270px;
    top: -4px;
    pointer-events: none;
    opacity: 0;
    z-index: 1
}

.container--header--desktop__content {
    box-shadow: var(--micro-header-box-shadow)
}

.container--spacing-default {
    height: 40px
}

.container--product-description-spacing-default {
    height: 48px
}

.container--debug-container {
    height: 60px;
    background-color: #ff00003d;
}

.container--fake-bread-crumb {
    padding-block: 35px 25px;
    display: flex;
    align-items: center
}

.container--above-buy {
    display: flex;
    margin-bottom: 10px;
    margin-top: auto
}

.container--product-quick-view-right {
    display: flex;
    flex-direction: column
}

/* Esse aplica globalmente em todas as shelfs e PDP.
   Estou usando uma regra especifica para o PDP no arquivo product/new--product/sunhouse.container.css */
.container--product-highlights {
    min-height: 31px;
    display: flex
}
/* END */

/* Movido para product/new--product/sunhouse.container.css
.container--product-highlights--product-page {
    margin-top: 8px;
    margin-bottom: 2px;
    gap: 19px
} */

.container--shelf-sku-selector {
    height: 100%;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end
}

.container--shelf-sku-selector::after {
    content: "Selecione um tamanho";
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff
}

/* Migrado para o arquivo product/new--product/product-price/sunhouse.container.css
.container--shelf-product-listPrice {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 42px
} */

.container--shelf-wishlist {
    margin-bottom: 160px
}

.container--image-shelf {
    position: relative
}

.container--product-sku-variation {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden
}

.container--product-sku-variation :global(.vtex-rich-text-0-x-container--product-variation) {
    justify-content: center
}

.container--product-sku-variation :global(.vtex-rich-text-0-x-container--product-variation) :global(.vtex-rich-text-0-x-strong--product-variation) {
    color: #fff
}

.container--shelf-specification-badges {
    height: 31px;
    flex-shrink: 0
}

.container--shelf-review {
    margin: 14px 0
}

.container--shelf-product-unavailable-button {
    opacity: 0;
    visibility: hidden;
    transition: all .3s
}

.container--banner-infos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1220px;
    width: 100%
}

.container--breadcrumb--designers {
    margin-top: 18px;
    margin-bottom: 48px
}

.container--designers-link {
    margin-bottom: 32px
}

.container--designer-info {
    display: flex;
    align-items: center;
    border-bottom: #d5d4d4 1px solid;
    gap: 32px;
    padding-bottom: 40px;
    margin-bottom: 40px
}

.container--designer-card {
    display: flex;
    align-items: flex-start;
    height: 190px;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #d5d4d4
}

.container--designers-info--content {
    position: relative;
    display: flex;
    gap: 37px;
    margin-bottom: 277px
}

.container--designer-group {
    display: flex
}

.container--designer-group--1 {
    height: 850px;
    position: relative
}

.container--designer-group--2 {
    gap: 30px;
    margin-top: 382px;
    max-width: 1075px
}

.container--designer {
    display: flex;
    margin-bottom: 80px
}

.container--designer__content {
    max-width: 695px
}

.container--designer--1 {
    position: relative;
    gap: 65px;
    background-color: #ffda00;
    border-radius: 8px;
    padding: 40px 104px 40px 434px
}

.container--designer--2,
.container--designer--3 {
    max-width: 1075px;
    gap: 72px;
    align-items: flex-end;
    margin-inline: auto
}

.container--designer--4,
.container--designer--5 {
    margin-bottom: 0;
    position: relative;
    height: 850px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.container--designer--4 .container--designer__content,
.container--designer--5 .container--designer__content {
    position: absolute
}

.container--designer--4 {
    position: absolute;
    top: 0px;
    right: 420px
}

.container--designer--4 .container--designer__content {
    top: 64px;
    right: 66px;
    max-width: 386px
}

.container--designer--5 {
    position: absolute;
    top: 0px;
    left: 800px
}

.container--designer--5 .container--designer__content {
    top: 64px;
    left: 96px;
    max-width: 329px
}

.container--designer--6 {
    gap: 96px;
    align-items: center;
    height: 668px;
    position: relative
}

.container--designer--6 .container--designer__content {
    max-width: 626px;
    position: static
}

.container--designer__title {
    display: flex;
    align-items: center;
    gap: 24px
}

.container--designer__title--1 {
    position: absolute;
    top: -50px;
    align-items: flex-start
}

.container--designer--7,
.container--designer--8 {
    position: relative;
    flex-direction: column
}

.wrapper--banner-grid {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    max-height: 630px
}

.wrapper--banner-grid .container--banner-grid {
    display: grid
}

.container--images-double {
    max-width: 1220px;
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem
}

.container--images-double .imageElementLink {
    display: block;
    position: relative;
    border-radius: 7px;
    overflow: hidden
}

.container--images-double .imageElementLink::after {
    content: "";
    display: block;
    inset: 0;
    opacity: 0;
    position: absolute;
    background-color: #ffe133;
    transition: opacity .2s
}

.container--images-double .imageElementLink:hover::after {
    opacity: .3
}

.container--images-double .imageElement {
    display: flex
}

.wrapper--container-differentials-wrapper {
    padding: 34px 0;
    background-color: #f8f8f8;
    margin-bottom: 50px;
    margin-top: 25px
}

.wrapper--container-differentials-wrapper .container--container-differentials-wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.wrapper--container-differentials-wrapper .container--container-differentials-wrapper .container--container-differentials-bottom {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.wrapper--container-differentials-wrapper .container--container-differentials-wrapper .container--container-differentials-bottom .imageElement {
    width: 76px
}

.container--institutional-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 300px;
    flex-shrink: 0
}

.container--institutional-menu :not(:first-child) {
    margin-top: 15px
}

.container--institutional {
    width: calc(100% - 20px);
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 50px
}

.container--institutional .container--wrapper-menu-content {
    display: flex
}

.container--institutional .container--wrapper-menu-content .container--institutional-content {
    margin-left: 30px;
    width: 100%
}

.container--product-medias {
    display: flex;
    position: sticky;
    top: 184px
}

.container--product-medias-container {
    flex: 1;
    margin-inline: 25px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.container--related-grid__list-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 16px;
    margin-top: 16px
}

.container--similars {
    margin-bottom: 16px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d5d4d4
}

.container--product-top-infos {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.container--trustvox {
    /*margin-top: 64px;*/
    padding: 32px;
}

.container--installments {
    position: relative
}

.container--categories-slider {
    margin-bottom: 40px
}

.container--seo-information {
    max-width: 1280px;
    margin: 0 auto
}

.container--blog-info-content {
    height: 100%
}

.container--blog-info-content :global(.vtex-store-components-3-x-imageElement) {
    width: 98%
}

.container--banner-department-mobile :global(.vtex-store-components-3-x-imageElement) {
    min-height: 250px;
    -o-object-fit: cover;
    object-fit: cover
}

.wrapper--search-seo {
    border-block: 1px solid #d5d4d4;
    padding-block: 88px 107px
}

/* Desktop Force */
@media screen and (min-width: 1025px) {

    /* Para quando tiver mais de 3 Flags - Perido de Black */
    /* Se aplica corretamente no mobile tambem */
    /* Se aplica somente em templates de vitrine - Categoria, busca e afins */
    .container--product-highlights:not(.container--product-highlights--product-page) {
        min-height: 31px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap
    }
    
}

@media screen and (min-width: 1025px) {
    .wrapper--banner-grid .container--banner-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        height: 100%
    }
}

@media screen and (max-width: 1250px) {
    .container--container-center {
        padding-left: 15px;
        padding-right: 15px
    }

    .wrapper--container-differentials-wrapper .container--container-differentials-wrapper {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media screen and (max-width: 1025px) {
    .container--institutional-menu {
        max-width: unset;
        width: 100%
    }

    .container--institutional .container--wrapper-menu-content {
        flex-direction: column
    }

    .container--institutional .container--wrapper-menu-content .container--institutional-content {
        margin-left: unset;
        margin-top: 30px
    }
}

/* Mobile */
@media screen and (max-width: 1024px) {
    /* liveseo */
    .wrapper--newsletter {
        height: 100%
    }
    /* liveseo */

    .wrapper--newsletter .container--newsletter {
        padding: 0 44px
    }

    .wrapper--newsletter .container--newsletter-content-form {
        display: contents
    }

    .container--success-newsletter {
        height: 338px
    }

    /* Movido para o arquivo common/footer/sunhouse.container.css
    .container--footer-social-content {
        padding-inline: 28px;
        justify-content: flex-start
    }

    .container--footer-social-content .imageElementLink .imageElement {
        max-height: 42px !important;
        max-width: 42px !important
    } */

    .container--footer-link-social-medias-icons {
        padding: 0 22px;
        margin-bottom: 35px;
        background-color: #fff
    }

    .container--header {
        height: 160px
    }

    .container--designers-info--content {
        padding-inline: 15px;
        margin-bottom: 98px
    }

    .container--designer-group {
        flex-direction: column;
        margin-bottom: 64px
    }

    .container--designer-group--1 {
        height: auto;
        position: static;
        padding-left: 0px;
        padding-right: 0px
    }

    .container--designer-group--2 {
        margin-top: 0;
        gap: 0;
        margin-bottom: 0
    }

    .container--designer {
        margin-bottom: 64px
    }

    .container--designer__content {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .container--designer__content--4,
    .container--designer__content--5 {
        top: 56px !important;
        left: 50% !important;
        transform: translateX(-50%);
        width: calc(100% - 30px)
    }

    .container--designer--1 {
        gap: 32px;
        flex-direction: column;
        align-items: center;
        border-radius: 0px
    }

    .container--designer--2,
    .container--designer--3 {
        align-items: center;
        padding-inline: 15px;
        gap: 32px
    }

    .container--designer--2 {
        flex-direction: column-reverse
    }

    .container--designer--3 {
        flex-direction: column
    }

    .container--designer--4,
    .container--designer--5 {
        height: auto;
        width: 100%;
        margin-inline: auto;
        margin-bottom: 0px
    }

    .container--designer--4 {
        position: relative;
        right: 0;
        margin-bottom: 0px
    }

    .container--designer--5 {
        position: relative;
        left: 0
    }

    .container--designer--6 {
        height: auto;
        flex-direction: column;
        gap: 32px
    }

    .container--designer--6 .container--designer__content {
        padding-inline: 15px
    }

    .container--designer__title--1 {
        left: 50%;
        top: -34px;
        text-align: center;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        transform: translateX(-50%)
    }

    .container--designer--7,
    .container--designer--8 {
        gap: 32px;
        align-items: center
    }

    .wrapper--banner-grid {
        max-height: initial
    }

    .wrapper--banner-grid .container--banner-grid {
        padding-inline: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: .75rem
    }

    .wrapper--banner-grid .container--banner-grid .imageElementLink {
        width: 100%
    }

    .wrapper--banner-grid .container--banner-grid .imageElementLink .imageElement {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        max-height: initial !important;
        height: 100%;
        max-height: 300px
    }

    .container--images-double {
        gap: .75rem
    }

    .container--images-double .imageElementLink {
        max-width: 500px;
        width: 100%;
        display: flex;
        margin: 0 auto
    }

    .container--images-double .imageElement {
        max-height: initial !important;
        -o-object-fit: cover;
        object-fit: cover
    }

    .wrapper--container-differentials-wrapper {
        margin-bottom: 30px
    }

    .container--product-medias {
        height: 560px
    }

    .container--product-medias-container {
        margin-inline: 0px
    }

    .container--product-top-infos {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: .25rem
    }

    /**/
    /* .sunhouse-container-1-x-container--product-highlights--product-page { */
    .container--product-highlights--product-page {
        gap: 0 !important;
        white-space: nowrap
    }
}

@media screen and (max-width: 768px) {
    .container--footer-selos-mobile {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .wrapper--container-differentials-wrapper .container--container-differentials-wrapper {
        flex-direction: column
    }
}

@media screen and (max-width: 767px) {
    .container--designer-info {
        flex-direction: column;
        padding-inline: 0;
        margin-inline: 15px
    }

    .container--designer-card {
        height: auto
    }

    .container--product-medias {
        position: initial;
        height: auto;
        padding-bottom: 62px
    }
}

@media screen and (max-width: 640px) {
    .wrapper--banner-grid .container--banner-grid {
        grid-template-columns: 1fr
    }

    .container--images-double {
        grid-template-columns: 1fr
    }
}

@media (max-width: 480px) {
    .container--related-grid__list-products {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 8px
    }
}