.tableContent--measurement-guide {
    display: flex;
    padding: 0
}

.tableContent--measurement-guide .tableRowTitle,
.tableContent--measurement-guide .tableRowContent {
    display: flex;
    flex-direction: column
}

.tableContent--measurement-guide .tableRowTitle {
    max-width: 254px;
    border-right: 1px solid #2d2926
}

.tableContent--measurement-guide .tableRowTitle .titleContent {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0 12px 0 19px;
    text-align: left;
    display: flex;
    align-items: center;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    text-transform: none;
    font-size: 11px;
    line-height: 14px;
    color: #2d2926;
    text-transform: unset
}

.tableContent--measurement-guide .tableRowTitle .titleContent:nth-child(odd) {
    background-color: #998300
}

.tableContent--measurement-guide .tableRowTitle .titleContent:nth-child(even) {
    height: 47px
}

.tableContent--measurement-guide .tableRowTitle .titleContent:first-child {
    border-bottom: 1px solid #2d2926
}

.tableContent--measurement-guide .tableContentBody {
    display: flex;
    flex: 1
}

.tableContent--measurement-guide .tableContentBody .tableRowContent .itemContent {
    height: 30px;
    margin: 0;
    padding: 0 3px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    text-transform: none;
    font-size: 12px;
    line-height: 14px;
    color: #2d2926
}

.tableContent--measurement-guide .tableContentBody .tableRowContent .itemContent:nth-child(odd) {
    background-color: #998300
}

.tableContent--measurement-guide .tableContentBody .tableRowContent .itemContent:nth-child(even) {
    height: 47px
}

.tableContent--measurement-guide .tableContentBody .tableRowContent .itemContent:first-child {
    border-bottom: 1px solid #2d2926;
    font-weight: bold
}

.tableContent--measurement-guide .tableContentBody .tableRowContent:first-child .itemContent {
    padding-left: 12px
}

.tableContent--measurement-guide .tableContentBody .tableRowContent:last-child .itemContent {
    padding-right: 12px
}

@media screen and (max-width: 838px) {
    .tableContent {
        margin: 20px 0
    }
}