.storageLayout--cookies {
    /*box-shadow: 0 0 0 999em rgba(0, 0, 0, .25);*/
    pointer-events: all;
    border-radius: 15px;
    background-color: #575451;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 765px;
    width: 100%;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.storageLayout--cookies .button {
    background-color: #f8f8f8;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    font: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    transition: all .3s;
    border-radius: 50px
}

.storageLayout--cookies .button:hover {
    background-color: #FFDA00
}

@media screen and (max-width: 1024px) {
    .storageLayout--cookies {
        flex-direction: column;
        gap: 10px;
        bottom: 0
    }

    .storageLayout--cookies {
        border-radius: 0
    }
}