/* A PRINCIPIO ESTOU APLICANDO AS ALTERACOES DO REFRESH AQUI
   VERIFICAR SE PRECISA SER DIVIDIDO EM ARQUIVOS SEPARADOS */

.shippingContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.shippingContainer .shippingFormContainer {
    width: 100%
}

.shippingContainer .shippingFormContainer .shippingForm {
    flex-direction: column
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-input) {
    width: 100%;
    max-width: 250px
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-input) :global(.vtex-input__label) {
    display: none
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-input) :global(.vtex-input-prefix__group) {
    border: none;
    background: rgba(0, 0, 0, 0);
    height: initial
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    /* height: 46px; */
    height: 52px;
    background: #fff;
    /* border: .5px solid #d5d4d4; */
    border: 2px solid #16141361;
    box-sizing: border-box;
    /* border-radius: 7px; */
    border-radius: 50px;
    /* padding: 0 19px; */
    padding: 0 24px;
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 16px;
    line-height: 17px;
    /* color: #3e3e3e */
    color: #161413    
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-input__error) {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: unset;
    color: #d83613;
    margin-top: 4px
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-button) {
    /* height: 46px; */
    height: 52px;
    border: none;
    /* background-color: #161413; */
    background-color: #161413; /* Cor final Refresh */
    /* border-radius: 7px; */
    border-radius: 50px;
    width: 100%;
    /* max-width: 200px; */
    cursor: pointer;
    /* transition: all .4s */
    transition: all .2s
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-button) :global(.vtex-button__label) {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    /* font-weight: 700; */
    font-size: 16px;
    /* line-height: 19px; - Ver se isso vai fazer falta */
    text-align: center;
    color: #fff;
    transition: all .4s;
    /* text-transform: none; */
    text-transform: uppercase;
    padding: 0
}

/**/
.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-button) :global(.vtex-button__label)::after {
    content: "\F134";
    font-family: "Bootstrap-Icons";
    font-size: 24px;
    margin-left: 12px
}
/**/

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-button):hover {
    /* background-color: #575451 */
    background-color: #161413cb
}

.shippingContainer .shippingFormContainer .shippingForm :global(.vtex-button):hover :global(.vtex-button__label) {
    color: #fff
}

.shippingContainer .shippingFormContainer .shippingUnknownPostalWrapper {
    margin-top: 12px
}

/* .shippingContainer .shippingFormContainer .shippingUnknownPostalWrapper::after {
    display: inline-flex;
    content: "";
    font-size: 10px;
    font-family: fantasticon;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #161413;
    padding-left: 10px
} */

.shippingContainer .shippingFormContainer .shippingUnknownPostalWrapper::after {
    display: inline-flex;
    content: "\F504";
    font-family: "Bootstrap-Icons";
    /* font-size: 10px; */
    font-size: 13px;
    padding-left: 10px;
    vertical-align: middle;
    color: #161413
}

.shippingContainer .shippingFormContainer .shippingUnknownPostalWrapper .shippingUnknownPostalLink {
    /* font-family: "Open Sans", sans-serif; */
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 13px;
    line-height: 14px;
    color: #161413;
    text-decoration: none
}

.shippingContainer .shippingTable {
    /* border-color: #fdb3c6; */
    /* border-color: #2d2926a1; - Cor correta para o Refresh */
    border-bottom: unset;
    /* Achei melhor deixar sem */
    border: unset
}

.shippingContainer .shippingTable .shippingTableCell {
    padding: 10px 3px;
    background-color: #eaeae9a3
}

.shippingContainer .shippingTable .shippingTableCell,
.shippingContainer .shippingTable .shippingTableLabel {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000
}

.shippingTableRadioBtn {
    display: none
}

.shippingTableHead {
    display: table-header-group;
    color: #000
}

.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryName {
    width: 40%;
    border-radius: 10px 0 0 0
}

.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryEstimate {
    border-radius: 0 10px 0 0
}

.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryEstimate,
.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryPrice {
    width: 30%
}

.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryEstimate,
.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryName,
.shippingTableHead .shippingTableRow .shippingTableHeadDeliveryPrice {
    padding: 15px;
    background-color: #e1e1e1
}

.clearButton {
    display: none
}

/* Nao esta funcionando
.shippingContainer .shippingFormContainer .shippingForm .shippingNoMessage {
    display: block !important;
    background-color: #000;
    height: 100px;
    width: 100px;
}*/
