.sliderTrackContainer--header-topbar {
    overflow: hidden
}

.sliderLayoutContainer--banner-shelf {
    max-width: 636px
}

.sliderLayoutContainer--shelf {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}

.sliderLayoutContainer--main-shelf {
    margin-top: 40px
}

.sliderTrackContainer--shelf {
    margin: 0
}

.sliderTrackContainer--shelf::after {
    content: ""
}

/* Movido para components/_new--shelf/sunhouse.slider-layout.css
.sliderArrows--banner-shelf.sliderLeftArrow {
    left: 15px
}

.sliderArrows--banner-shelf.sliderRightArrow {
    right: 15px
}

.sliderArrows--shelf {
    top: 215px !important;
    border-radius: 0px !important
}

.sliderArrows--shelf.sliderLeftArrow {
    left: 7.5px
}

.sliderArrows--shelf.sliderRightArrow {
    right: 7.5px
}

.sliderArrows--shelf::after {
    width: 35px;
    height: 35px;
    font-size: 14px
} */

.paginationDotsContainer--shelf .paginationDot--isActive {
    background-color: #000 !important
}

.paginationDotsContainer--main-shelf,
.paginationDotsContainer--countdown-shelf {
    height: 5px;
    top: -40px
}

.paginationDotsContainer--countdown-shelf {
    justify-content: flex-start
}

/* Acredito que essas impactem uma boa parte dos elementos que possuem slider arrow */
/* Movido para components/_new--shelf/sunhouse.slider-layout.css
.sliderArrows {
    padding: 0;
    margin: 0;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    / Pensar em alterar depois
    border-radius: 30px;
    width: 48px;
    height: 28px; /
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s
}

.sliderArrows--shelf {
    top: 57%
}

.sliderArrows .caretIcon {
    width: 16px;
    height: 16px;
    color: #2d2926;
    transition: all .4s
}

.sliderArrows:not(:hover) {
    background: rgba(255, 255, 255, .5) !important
    / Pensar em alterar depois
    background: #ffda00 !important /
}

.sliderArrows:not(:disabled):hover {
    background: #ffda00 !important    
}

.sliderArrows:not(:disabled):hover .caretIcon {
    color: #2d2926
}

.sliderArrows:disabled {
    cursor: not-allowed
}

.sliderArrows:disabled .caretIcon {
    color: #2d2926
}

.sliderArrows:disabled:hover {
    background-color: #252525 !important
}

.sliderArrows:disabled:hover .caretIcon {
    color: #fff
} */

.slide--shelf {
    padding-inline: 7px
}

.paginationDotsContainer .paginationDot {
    border: 1px solid #252525;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    min-width: 15px;
    height: 5px !important;
    transition: all .4s;
    padding: 0;
    box-sizing: content-box
}

.paginationDotsContainer .paginationDot--isActive {
    min-width: 37px;
    background-color: #2d2926
}

.sliderTrackContainer--designers {
    margin-inline: 45px
}

.sliderTrackContainer--designers .slideChildrenContainer {
    padding-inline: 8px
}

.sliderLayoutContainer--banner-main {
    position: relative
}

/* Migrado para home/_new--home/banner-hero/sunhouse.slider-layout.css
.sliderLayoutContainer--banner-main::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: 0
}

.slideChildrenContainer--banner-main::after {
    content: "";
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.51) 0%, rgba(58, 58, 58, 0) 44.77%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%
} */

.imageElementLink--banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2
}

/* Migrado para home/_new--home/banner-hero/sunhouse.slider-layout.css */
/* .sliderArrows--banner-main {
    display: none;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .5) !important
} */

/* .sliderArrows--banner-main.sliderRightArrow {
    right: 40px;
    left: 1220px
}

.sliderArrows--banner-main.sliderLeftArrow {
    left: 40px;
    right: 1220px
} */

/* Slider Arrows de componentes descontinuados */
/* START */
.sliderArrows--diferentials-mobile::after {
    width: 35px;
    height: 35px;
    font-size: 14px
}
/* Slider Arrows de componentes descontinuados */
/* END */

.paginationDotsContainer--banner-main {
    bottom: 33px
}

.paginationDotsContainer--banner-main .paginationDot--banner-main {
    border-color: #fff
}

.paginationDotsContainer--banner-main .paginationDot--banner-main--isActive {
    background-color: #fff
}

.slideChildrenContainer--banner-main {
    display: flex
}

.sliderLayoutContainer--similars .sliderTrack {
    gap: .375rem
}

.sliderLayoutContainer--similars .sliderTrack .slide {
    max-width: 4.5rem;
    max-height: 4.5rem
}

@media screen and (min-width: 1025px) {

    .sliderTrack--countdown-shelf {
        width: 625% !important
    }

}

@media screen and (max-width: 1250px) {

    .sliderLayoutContainer--shelf {
        padding-left: 15px;
        padding-right: 15px
    }

}

@media screen and (max-width: 1220px) {

    .sliderTrackContainer--shelf {
        margin: 0;
        margin-left: 9px
    }

    /* Slider Arrows de componentes descontinuados */
    /* START */
    .sliderArrows--banner-main.sliderRightArrow {
        left: initial
    }

    .sliderArrows--banner-main.sliderLeftArrow {
        right: initial
    }
    /* Slider Arrows de componentes descontinuados */
    /* END */

}

@media screen and (max-width: 1024px) {

    .sliderLayoutContainer--banner-shelf {
        max-width: initial
    }

    .sliderLayoutContainer--shelf {
        padding: 0 0 36px;
        overflow: hidden
    }

    .sliderTrackContainer--shelf::after {
        height: 100%;
        width: 20%;
        background-color: #fff;
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0
    }

    .slide--shelf--visible:last-child {
        opacity: .5
    }

    .paginationDotsContainer--shelf {
        top: initial;
        bottom: 0
    }

    .paginationDotsContainer--countdown-shelf {
        left: 0;
        height: auto;
    }

    .sliderTrackContainer--designers {
        margin-inline: 0px
    }

    .slideChildrenContainer--banner-main {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden
    }

    /* Slider Arrows de componentes descontinuados */
    /* START */
    .sliderArrows--banner-main.sliderRightArrow {
        right: 15px
    }

    .sliderArrows--banner-main.sliderLeftArrow {
        left: 15px
    }

    .sliderArrows--banner-main::after {
        width: 35px;
        height: 35px;
        font-size: 14px
    }
    /* Slider Arrows de componentes descontinuados */
    /* END */

}

@media screen and (max-width: 768px) {

    .paginationDotsContainer--countdown-shelf {
        justify-content: center
    }

}

@media screen and (max-width: 638px) {

    .sliderTrackContainer--shelf::after {
        width: 152.5px
    }

}

@media screen and (max-width: 465px) {

    .sliderTrackContainer--shelf::after {
        width: calc(100% - 310px)
    }

}