.rating-click-here {
    display: none !important
}

:global(.vtex-render__container-id-trustvox) {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    /*margin-top: 64px !important;*/
    border-radius: 12px;
    background-color: #eaeae9;
}

@media screen and (max-width: 1250px) {
    :global(.vtex-render__container-id-trustvox) {
        width: auto;
        margin-top: 24px;
        margin-left: 12px;
        margin-right: 12px
    }
}