.container {
    border-radius: 0;
}

/* Movido para o arquivo product/new--product/product-buy-together/vtex.product-summary.css
.container:not(.container--buy-together) {
    max-width: 307px !important;
} */

.container--main-wishlist {
    margin: 0 auto !important;
    padding: 0 18px;
    box-sizing: content-box;
}

.container--main-wishlist .element {
    margin: 30px 0;
}

.element {
    padding: 0;
}

.element--main-shelf {
    max-width: 307px;
    position: relative;
}

.element--main-shelf:hover :global(.vtex-flex-layout-0-x-flexCol--shelf-product-unavailable),
.element--main-shelf:hover :global(.vtex-container-container--shelf-product-unavailable-button) {
    opacity: 1;
    visibility: visible;
}

.image {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.image--main-shelf--hover {
    z-index: 2;
}

.nameContainer--main-shelf {
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0;
    justify-content: flex-start;
}

.nameContainer--main-shelf .productNameContainer .productBrand {
    /* height: 60px; */
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 3;
    line-clamp: 3; */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden
}

.nameContainer--main-shelf .productBrand {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2d2926;
    text-transform: unset;
    text-align: start;
    display: inline-block;
}

.element--related-grid {
    padding: 15px;
    border: 1px solid #aba9a8;
    border-radius: 10px;
}

.element--related-grid .imageStackContainer {
    display: block !important;
}

.element--related-grid .imageStackContainer .image {
    display: block !important;
    height: auto !important;
    aspect-ratio: 294/440;
}

.quantitySelectorError {
    margin-top: 10px;
}

.container--similars {
    border: solid 1px #d5d4d4;
    border-radius: 5px;
}

.container--similars .image {
    display: block;
    aspect-ratio: 1/1;
    -o-object-fit: contain !important;
    object-fit: contain !important;
}

.container--shelf-similar {
    margin: 0 !important;
}

.container--shelf-similar .element {
    padding: 0;
}

.container--shelf-similar .element .imageWrapper {
    margin: 0;
}

.container--shelf-similar .element .imageWrapper .imageContainer {
    width: 74px;
    height: 74px;
}

/* Movido para o arquivo product/new--product/product-buy-together/vtex.product-summary.css
.container--buy-together .nameContainer {
    margin-top: 6px;
    margin: 0;
    padding: 0;
}

.container--buy-together .imageNormal {
    max-width: 293px !important;
}

.SKUSelectorContainer--buy-together-sku-selector {
    max-width: 200px;
}

.containerNormal--buy-together :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    display: none;
}

.containerNormal--buy-together :global(.vtex-stack-layout-0-x-stackContainer--shelf-product-image) {
    margin-bottom: 5px;
} */

@media screen and (max-width: 1024px) {
    .element--main-shelf {
        width: 100%;
    }
}

/* Movido para o arquivo product/new--product/product-buy-together/vtex.product-summary.css
@media screen and (max-width: 638px) {
    .container--buy-together .nameContainer {
        justify-content: center;
    }
    .container--buy-together .nameContainer .productNameContainer {
        text-align: center;
    }
} */
