/* NAO mover esse arquivo!
   Será mais pratico estilizar por aqui mesmo */

.summarySmallDisclaimer {
    display: none
}

.summaryItemContainer {
    margin: 0;
    padding: 0;
    justify-content: space-between
}

.summaryItemContainer:first-child {
    display: none
}

.summaryItemContainer:nth-child(odd) {
    margin-bottom: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ccc
}

/*.summaryItemContainer:last-child {
    display: none
}*/

.summaryItemContainer .summaryItemLabel {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    /* font-weight: bold; */
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 16px;
    /* line-height: 17px; */
    color: #16141363;
    line-height: 30px;
    display: flex;
    align-items: center
}

/*.summaryItemContainer .summaryItemLabel::after {
    content: "(Sem frete):";
    font-weight: 400;
    margin-left: 3px
}*/

.summaryItemContainer .summaryItemPrice {
    font-style: normal;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 16px;
    /* line-height: 20px; */
    line-height: 30px;
    display: flex;
    align-items: center;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    /* color: #2d2926; */
    color: #161413;
    flex: initial
}

.summaryTitle--summary__minicartNew {
    display: none
}
