/* AQUI É APLICADO TODO E QUALQUER ESTILO LIVRE DO SITE - ACEITA SELETORES DEPRECIADOS DA VTEX E AFINS*/

:global(.sunhouse-search-result-3-x-filter__container--priceRange) {
  border: 0;
}

:global(.sunhouse-search-result-3-x-filter__container--priceRange)
  :global(.sunhouse-search-result-3-x-filterTemplateOverflow) > div {
  height: auto !important;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-family: "Open Sans", sans-serif;
}

.codeConfirmation .formTitle {
  max-width: 199px;
  margin-inline: auto;
}

.optionsList .emailPasswordOptionBtn :global(.vtex-button),
.optionsList .accessCodeOptionBtn :global(.vtex-button) {
  border: none;
  background-color: #f90041;
  color: #fff;
}

:global(html) {
  scroll-behavior: smooth;
}

:global(button) {
  font-family: inherit;
}

:global(.c-on-base--inverted) {
  color: #fff !important;
}

@-webkit-keyframes alert {
  0% {
    opacity: 1;
    scale: 1;
  }
  20% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  50% {
    opacity: 0.8;
    scale: 1.1;
  }
  80% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
}

@keyframes alert {
  0% {
    opacity: 1;
    scale: 1;
  }
  20% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  50% {
    opacity: 0.8;
    scale: 1.1;
  }
  80% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
}

:global(.vtex-my-account-1-x-profileFormBoxContainer .vtex-button) {
  background-color: #f90041 !important;
  border-color: #f90041 !important;
}

:global(.vtex-my-orders-app-3-x-orderProductName) {
  font-weight: 700;
  color: #252525;
}

:global(.vtex-reviews-and-ratings-3-x-star) {
  font-size: 0px;
}

:global(.vtex-reviews-and-ratings-3-x-star):not(:last-child) {
  margin-right: 6px;
}

:global(.vtex-reviews-and-ratings-3-x-stars) {
  display: flex;
  align-items: center;
}

:global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  margin-left: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffe133;
}

:global(.vtex-reviews-and-ratings-3-x-star--empty)::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(assets/images/star.svg) no-repeat;
  display: flex;
}

:global(.vtex-reviews-and-ratings-3-x-star--filled)::before {
  display: inline-flex;
  content: "";
  font-size: 16px;
  font-family: "fantasticon";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #d2993e;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffe133;
  border: none;
  margin-bottom: 12px;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsRatingAverage),
:global(.vtex-reviews-and-ratings-3-x-reviewsRatingCount),
:global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
  display: none;
}

:global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) svg {
  color: #ffe133;
}

:global(.vtex-reviews-and-ratings-3-x-writeReviewButton) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffe133;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment) {
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ede8ec;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment) > div {
  display: flex;
  flex-direction: column;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment)
  :global(.vtex-reviews-and-ratings-3-x-reviewCommentRating) {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment)
  :global(.vtex-reviews-and-ratings-3-x-reviewCommentRating)
  :global(.vtex-reviews-and-ratings-3-x-reviewCommentUser) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffe133;
  margin: 0px;
  margin-left: 10px;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment)
  :global(.vtex-reviews-and-ratings-3-x-reviewInfo) {
  margin: 0px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffe133;
}

:global(.vtex-reviews-and-ratings-3-x-reviewComment)
  :global(.vtex-reviews-and-ratings-3-x-reviewCommentMessage) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffe133;
}

:global(.sunhouse-container-1-x-container--greeting--title .sunhouse-auth-utils-2-x-greeting) {
  max-width: 100px;
  color: var(--header-text-color);
  display: var(--header-left-controls-display);
}

:global(.render-route-store-home .vtex-container-container--header--desktop--home) {
  height: 39px;
}

:global(.sunhouse-container-1-x-container--above-buy .vtex-flex-layout-0-x-flexRowContent--shipping-simulator-title) {
  margin-bottom: 0;
}

:global(.sunhouse-container-1-x-container--above-buy .vtex-rich-text-0-x-paragraph--shipping-calculate) {
  font-weight: 300;
  color: #817f7d;
}

:global(.sunhouse-container-1-x-container--above-buy .vtex-rich-text-0-x-container--safe-purchase) {
  flex: 1;
  justify-content: center;
}

:global(.sunhouse-container-1-x-container--product-highlights--product-page .sunhouse-product-highlights-2-x-productHighlightText) {
  max-width: 215px;
}

:global(.sunhouse-container-1-x-container--shelf-sku-selector:not(:has(.vtex-store-components-3-x-skuSelectorContainer))) {
  display: none;
}

:global(.sunhouse-container-1-x-container--shelf-product-listPrice:has(.sunhouse-discount-price-1-x-container) .vtex-product-price-1-x-sellingPrice) {
  display: none;
}

:global(.render-container) {
  --header-logo-visible: visible;
  --header-logo-opacity: 100%;
  --header-inverted-logo-visible: hidden;
  --header-inverted-logo-opacity: 0%;
  --header-logo-height: 62px;
  --header-menu-item-highlight-color: #ffffff;
  --header-text-color: white;
}

:global(.render-container.render-route-store-home) {
  --header-background-color: transparent;
}

:global(.render-container:not(.render-route-store-home)) {
  --header-background-color: white;
  --header-text-color: $textColor;
  --header-menu-item-highlight-color: #f90041;
  --header-menu-border-color: transparent;
}

:global(.sunhouse-form-0-x-checkbox--newsletter .bg-action-primary) {
  border-color: #44b32e !important;
  background-color: #44b32e !important;
  position: relative;
}

:global(.sunhouse-form-0-x-checkbox--newsletter .bg-action-primary::after) {
  display: inline-flex;
  content: "";
  font-size: 24px;
  font-family: "fantasticon";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  position: absolute;
  right: -1px;
  top: 0;
}

:global(.sunhouse-related-grid-0-x-summary .vtex-button) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 32px;
  border: none;
  background-color: #ffe133;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container:nth-child(3)),
:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container:nth-child(4)),
:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container:nth-child(5)),
:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container:nth-child(6)),
:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container:nth-child(7)) {
  display: block;
}

:global(.sunhouse-search-result-3-x-filtersWrapper .sunhouse-search-result-3-x-filter__container .sunhouse-search-result-3-x-filter .sunhouse-search-result-3-x-filterIcon .sunhouse-search-result-3-x-caretIcon) {
  display: none;
}

:global(.sunhouse-search-result-3-x-filterOutterBox--open~.sunhouse-search-result-3-x-sidebar .sunhouse-search-result-3-x-closeIconButton) {
  display: flex;
  left: 0;
  transform: translateX(-100%);
}

:global(.sunhouse-search-result-3-x-filterOutterBox:not(.sunhouse-search-result-3-x-filterOutterBox--open)+.sunhouse-search-result-3-x-sidebar) {
  transform: translateX(120%) !important;
}

:global(.sunhouse-store-components-4-x-resultsList > li:has(img):first-of-type) {
  background-color: red;
}

:global(.vtex-overlay-layout-0-x-trigger--search-bar) {
  position: relative;
  z-index: initial !important;
}

:global(.vtex-overlay-layout-0-x-trigger--search-bar .vtex-overlay-layout-0-x-dropdown) {
  z-index: 3000 !important;
}

:global(.vtex-overlay-layout-0-x-trigger--search-bar > .vtex-container--search-bar-content) {
  pointer-events: none;
}

:global(.vtex-overlay-layout-0-x-trigger--search-bar .vtex-overlay-layout-0-x-container) {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

:global(.rating-click-here) {
  display: none;
}

:global(.ts-shelf-rate-value) {
  display: none !important;
}

:global(.ts-shelf-rate-count span::after) {
  content: " avaliações";
}

:global(.vtex-flex-layout-0-x-flexRowContent--minicart-header .sunhouse-minicart-2-x-minicartQuantityBadge--minicart-main::after) {
  content: ") items";
  text-transform: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--minicart-header .sunhouse-minicart-2-x-minicartQuantityBadge--minicart-main::before) {
  content: "(";
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-product-buy-quantity .vtex-button),
.flexRow--shelf-buy-button .vtex-button {
  border-color: 1px solid #2d2926;
}

:global(.vtex-flex-layout-0-x-flexRow--shipping-simulator-first-row-right .vtex-flex-layout-0-x-flexRowContent--shipping-simulator-first-row-right > div) {
  display: block;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shipping-simulator-first-row > div:first-child) {
  flex: 1;
  /* max-width: 250px; */
  margin-right: 1.25rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shipping-simulator-first-row > div:last-child) {
  flex: 1;
  /* max-width: 200px; */
}

:global(.vtex-flex-layout-0-x-flexRowContent--search-seo div:nth-child(1)) {
  flex-shrink: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--filters-container > .flex-grow-1) {
  flex: 1;
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}

:global(.vtex-account__page-body a[href*=cancel]) {
  display: none;
}

:global(.vtex-pageHeader__children .newAddressButton) {
  display: none;
}

:global(.vtex-product-summary-2-x-element--related-grid:has(.sunhouse-related-grid-0-x-quantitySelectorError) .sunhouse-container-1-x-container--shelf-sku-selector) {
  -webkit-animation: alert 0.4s ease forwards 4;
  animation: alert 0.4s ease forwards 4;
}

:global(.vtex-product-summary-2-x-element--related-grid .vtex-store-components-3-x-discountContainer) {
  display: block !important;
}

:global(.vtex-product-summary-2-x-container--similars .vtex-store-components-3-x-discountInsideContainer) {
  display: none;
}

:global(.vtex-reviews-and-ratings-3-x-container .review__comment--user) {
  font-size: 14px;
}

:global(.vtex-reviews-and-ratings-3-x-container .review__comment.b--muted-5) {
  border: none;
}

:global(.vtex-rich-text-0-x-container--footer-list .vtex-rich-text-0-x-list a) {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #2d2926;
}

:global(.vtex-rich-text-0-x-container--footer-list .vtex-rich-text-0-x-list a:hover) {
  text-decoration: underline;
}

:global(.vtex-rich-text-0-x-container--footer-list .vtex-rich-text-0-x-list a::visited) {
  color: red;
}

:global(.vtex-disclosure-layout-1-x-content--footer-about--hidden .vtex-rich-text-0-x-container--footer-about-text .vtex-rich-text-0-x-paragraph) {
  display: none;
}

:global(.vtex-disclosure-layout-1-x-content--footer-about--hidden .vtex-rich-text-0-x-container--footer-about-text .vtex-rich-text-0-x-paragraph:first-of-type) {
  margin: 0;
  display: inline;
}

:global(.vtex-rich-text-0-x-container--designer-card .vtex-rich-text-0-x-wrapper > *:last-child) {
  margin-top: auto;
}

:global(.vtex-product-summary-2-x-container:hover .vtex-stack-layout-0-x-stackItem--shelf-product-image--shelf-sku-selector) {
  opacity: 1;
  visibility: visible;
}

:global(.vtex-store-link-0-x-link--header-links .vtex-store-components-3-x-storesIcon path) {
  fill: #000;
}

:global(.vtex-store-link-0-x-link--menu-mobile-link svg) {
  display: block;
}

@media screen and (min-width: 1025px) {
  :global(.sunhouse-container-1-x-wrapper--banner-grid .sunhouse-container-1-x-container--banner-grid img) {
    max-height: initial !important;
    height: 100%;
  }

  :global(.sunhouse-container-1-x-wrapper--banner-grid .sunhouse-container-1-x-container--banner-grid a:nth-child(1)) {
    grid-area: 1/1/3/2;
    grid-row: span 2;
  }

  :global(.sunhouse-container-1-x-wrapper--banner-grid .sunhouse-container-1-x-container--banner-grid a:nth-child(2)) {
    grid-area: 1/2/2/3;
    max-height: 301px;
  }

  :global(.sunhouse-container-1-x-wrapper--banner-grid .sunhouse-container-1-x-container--banner-grid a:nth-child(3)) {
    grid-area: 2/2/3/3;
    max-height: 301px;
  }
}

@media screen and (max-width: 1024px) {
  :global(.vtex-toast-container .flex.flex-grow-1.justify-end.items-center) {
    justify-content: left;
    padding-block: 10px;
  }

  :global(.vtex-toast-container .vtex-button) {
    border-color: #fff !important;
  }

  :global(.sunhouse-container-1-x-container--footer-social-content .sunhouse-container-1-x-imageElementLink[href*=blog] .sunhouse-container-1-x-imageElement) {
    max-width: 75px !important;
  }

  :global(.render-container.render-route-store-home) {
    --header-text-color: $textColor;
  }

  :global(.sunhouse-store-components-4-x-portalWrapper .absolute > div) {
    display: none;
    position: fixed;
    left: 20px;
    width: calc(100vw - 40px) !important;
    padding: 4px 8px;
    padding-left: 0;
    background-color: #fff;
    box-shadow: -3px 4px 11px -2px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
  }

  :global(.sunhouse-store-components-4-x-portalWrapper .absolute > div:has(.vtex-store-components-3-x-resultsItem)) {
    display: block;
  }

  :global(.vtex-flex-layout-0-x-flexRow--shelf-banner .vtex-flex-layout-0-x-flexRowContent .vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
    padding: 0px;
  }
}