.imageElement {
    display: block
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}

.imageElement--paymentIcon {
    margin-top: -8px;
    width: 41px;
    -o-object-fit: contain;
    object-fit: contain
}

.paymentIcon {
    color: #fff;
    margin-top: -8px
}

.vtexIcon {
    color: #f71963
}

.eplusIcon {
    color: #5bb24f
}

.socialIcon {
    color: #2d2926
}

.successIcon {
    color: #44b32e
}

.imageElementLink--pci-image {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: initial;
    max-height: initial
}

.imageElementLink--pci-image .imageElement {
    width: 78px
}

.backToTopButtonContainer {
    pointer-events: all
}

.backToTopButtonContainer {
    right: 28px;
    bottom: 85px;
    margin: 0 auto;
    max-width: 41.8px;
    z-index: 999
}

.backToTopButtonContainer :global(.vtex-button) {
    width: 41.8px;
    height: 41.8px;
    border: none;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    border-radius: 5px
}

.backToTopButtonContainer :global(.vtex-button)::after {
    display: inline-flex;
    content: "";
    font-size: 22px;
    font-family: "fantasticon";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #2d2926
}

.backToTopButtonContainer :global(.vtex-button) :global(.vtex-button__label) {
    display: none
}

.skuSelectorContainer {
    width: 100%
}

.skuSelectorContainer .skuSelectorSubcontainer {
    margin: 0
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorNameContainer {
    margin: 0;
    display: flex;
    flex-direction: column
}

.eyesightIcon {
    color: #2d2926;
    max-width: 13.62px
}

.arrowCTAIcon {
    color: #252525;
    transition: all .4s
}

.imageElement--banner-shelf--mobile {
    height: 196px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 18px
}

.imageElement--info {
    position: absolute;
    top: 0px;
    left: 642px
}

.imageElement--designer__title {
    width: 72px
}

.imageElement--designer--1 {
    position: absolute;
    left: 104px;
    bottom: 18px;
    width: 265px
}

.imageElement--designer--2,
.imageElement--designer--3 {
    width: 321px
}

.imageElement--designer--6 {
    position: absolute;
    left: 800px;
    width: 775px
}

.imageElement--designer--7,
.imageElement--designer--8 {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 32px))
}

.imageElement--designer--7 {
    max-width: 451px
}

.imageElement--designer--8 {
    min-width: 563px;
    right: 0
}

.diferentialsIcon {
    color: #fff;
    margin-right: 7px;
    max-width: 20px
}

.imageElement--banner-main {
    -o-object-fit: cover;
    object-fit: cover
}

.imageElement--banner-home {
    border-radius: 7px
}

.imageElement--banner-grid-mobile {
    width: 100%
}

.imageElement--banner-double {
    width: 100%
}

.imageElement--banner-shelf {
    max-width: 100%
}

.imageElement--banner-hover {
    transition: filter .4s
}

.imageElement--banner-hover:hover {
    mix-blend-mode: multiply;
    filter: brightness(70%)
}

.imageElementLink--banner-grid {
    position: relative
}

.imageElementLink--banner-grid::after {
    content: "";
    display: block;
    inset: 0;
    opacity: 0;
    position: absolute;
    background-color: #ffe133;
    transition: opacity .2s
}

.imageElementLink--banner-grid:hover::after {
    opacity: .3
}

.imageElementLink--banner-grid .imageElement {
    border-radius: 5px
}

.skuSelectorContainer--product-page .skuSelectorTextContainer {
    display: flex !important;
    align-items: center;
    margin-bottom: 17px
}

.skuSelectorContainer--product-page .skuSelectorTextContainer .skuSelectorName {
    font-size: 0
}

.skuSelectorContainer--product-page .skuSelectorTextContainer .skuSelectorName::after {
    content: "Outras opções de tamanho:";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #2d2926
}

.skuSelectorContainer--product-page .skuSelectorOptionsList {
    justify-content: flex-start !important;
    gap: 8px 10px !important;
    padding: 0 !important
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem {
    margin: 0 !important
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--p {
    order: 1
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--m {
    order: 2
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--g {
    order: 3
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--gg {
    order: 4
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--exg {
    order: 5
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--exgg {
    order: 6
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--ex1 {
    order: 7
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem {
    width: 63px !important
}

.skuSelectorContainer--product-page .skuSelectorOptionsList .skuSelectorItem--selected {
    background-color: #ffe133 !important
}

.zoomIcon {
    width: 13.12px;
    height: 13.12px
}

.securityBuyIcon {
    width: 11.7px;
    height: 11.7px;
    padding-right: 5px
}

.installmentsIcon {
    width: 10px;
    height: 25px;
    padding-left: 13px;
    color: #f90041
}

/* Depreciado no Refresh */
.shippingIcon {
    display: none

    /* width: 24px;
    height: 24px;
    padding-right: 10px;
    color: #f90041 */
}

.plusDisclosureIcon,
.minusDisclosureIcon {
    background: #2d2926;
    color: #fff;
    border-radius: 50px;
    padding: 6px;
    margin-left: 12px;
    min-width: 12px;
    max-width: 12px;
    min-height: 12px;
    max-height: 12px
}

.imageElement--search-result {
    width: 100%;
    min-height: 209px;
    -o-object-fit: cover;
    object-fit: cover
}

.imageElement--search-seo {
    width: 100%
}

.backIcon {
    color: #fff;
    transition: all .4s
}

/* Desktop Force */
@media screen and (min-width: 1281px) {
    .imageElement--banner-main {
        max-height: unset !important;
        height: 100vh
    }
}

@media screen and (max-width: 1260px) {
    .backToTopButtonContainer {
        left: initial;
        right: 30px
    }
}

@media screen and (max-width: 1250px) {
    .container {
        padding-left: 15px;
        padding-right: 15px
    }
}

/* Mobile */
@media screen and (max-width: 1024px) {
    
    .logoImage--pci-image {
        width: 15%
    }
    
    /* Ajuste para posicionar corretamente apos criacao do novo botao de Whatsapp da RD Station */
    .backToTopButtonContainer {
        right: 30px;
        bottom: 108px
    }

    .imageElement--info {
        display: none
    }

    .imageElement--designer__title--1 {
        display: none
    }

    .imageElement--designer--1 {
        position: static;
        width: auto
    }

    .imageElement--designer--2,
    .imageElement--designer--3 {
        width: 172px
    }

    .imageElement--designer--4,
    .imageElement--designer--5 {
        height: 650px;
        margin-inline: auto
    }

    .imageElement--designer--6 {
        position: static
    }

    .imageElement--designer--7,
    .imageElement--designer--8 {
        position: static;
        transform: none;
        max-width: 276px;
        min-width: unset
    }

    .imageElement--banner-main {
        min-height: 498px;
        max-height: 498px !important;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }

    .productNameContainer {
        margin-bottom: 10px;
        text-align: center
    }

    .productNameContainer .productBrand {
        font-size: 26px
    }

    .skuSelectorContainer--product-page .skuSelectorOptionsList {
        -moz-column-gap: 7px;
        column-gap: 7px
    }

    .imageElement--search-seo {
        max-width: initial !important;
        width: 100%;
        max-height: initial !important
    }

}

/* Mobile */
@media screen and (max-width: 768px) {

    .logoImage--pci-image {
        width: 36%;
        margin-bottom: 5px
    }

    .imageElement--banner-main {
        max-height: 420px !important
    }

}

/* Mobile */
@media screen and (max-width: 638px) {

    .imageElement--banner-grid-mobile {
        border-radius: 0px 7px 7px 0px
    }

}
