.summarySmallDisclaimer {
    display: none
}

.summaryItemContainer {
    margin: 0;
    padding: 0;
    justify-content: space-between
}

.summaryItemContainer:first-child {
    display: none
}

.summaryItemContainer:nth-child(odd) {
    margin-bottom: 10px
}

/*.summaryItemContainer:last-child {
    display: none
}*/

.summaryItemContainer .summaryItemLabel {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center
}

/*.summaryItemContainer .summaryItemLabel::after {
    content: "(Sem frete):";
    font-weight: 400;
    margin-left: 3px
}*/

.summaryItemContainer .summaryItemPrice {
    /* EM TESTES */
        /* font-family: "Open Sans", sans-serif; */
        font-family: "Bebas Neue", "Montserrat", "Open Sans", sans-serif;
        /* font-size: 14px; */
        font-size: 20px;
    /* EM TESTES */

    font-style: normal;
    /* font-weight: bold; */
    /* FONT-SIZE VAI AQUI */
    line-height: 20px;
    display: flex;
    align-items: center;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    color: #2d2926;
    flex: initial
}

.summaryTitle--summary__minicartNew {
    display: none
}