@media screen and (max-width: 1024px) {

    /* .vtex-flex-layout-0-x-flexRow--buyTogetherContainer { */
    .flexRow--buyTogetherContainer {
        padding: 15px
    }

    /* .vtex-flex-layout-0-x-flexRowContent--buyTogetherContainer { */
    .flexRowContent--buyTogetherContainer {
        display: flex;
        flex-direction: row
    }

    .flexCol--bt-plus-icon :global(.vtex-store-icons-0-x-plusIcon) {
        width: 13px !important;
        height: 13px !important;
        padding: 14px
    }

}
