:global(.render-container.render-route-store-search-department),
:global(.render-container.render-route-store-search-category),
:global(.render-container.render-route-store-search-subcategory),
:global(.render-container.render-route-store-search-brand),
:global(.render-container.render-route-store-search),
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"] {
	--header-background-color: transparent;
    --header-text-color: #fff;
    --header-menu-item-highlight-color: #fff;
	--header-menu-border-color: transparent
}

/* Mostra texto "Resultados" quando o botão Ver Mais existir no DOM */
/* .vtex-flex-layout-0-x-flexCol--fetch-more-content_col:has(.vtex-button) .vtex-search-result-3-x-showingProducts::after { */
/* :global(.vtex-flex-layout-0-x-flexCol--fetch-more-content_col):has(.vtex-button) :global(.vtex-search-result-3-x-showingProducts)::after { */
:global(.vtex-flex-layout-0-x-flexCol--fetch-more-content_col:has(.vtex-button) .vtex-search-result-3-x-showingProducts)::after {
    display: inline
}
