:global(.vtex-container-container--shelf-featured) .link--main-shelf {
    text-decoration: none
}

:global(.vtex-container-container--shelf-featured) .textContainer--main-shelf {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* top: -92px; */
    top: -78px;
    height: 0 /* Normaliza o componente para nao esticar o slider component */
}

:global(.vtex-container-container--shelf-featured) .text--main-shelf {
    background-color: #fff; /* mudar para fff */
    color: #161413;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 50px;
    transition: all .3s ease-in-out
}

:global(.vtex-container-container--shelf-featured) .link--main-shelf:hover .text--main-shelf {
    background-color: #161413; /* mudar para fff */
    color: #fff
}

/* Fix para atualizacao do Image-Text-List App onde agora ele pode receber texto no formato de markdown */
/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-heading--main-shelf,
.sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-paragraph--main-shelf { */
:global(.vtex-container-container--shelf-featured) .heading--main-shelf,
:global(.vtex-container-container--shelf-featured) .paragraph--main-shelf {
    margin: 0;
    font-size: 16px;
    font-weight: 400
}

:global(.vtex-container-container--shelf-featured) .imageItem--main-shelf {
    /* min-height: 355px;
    max-height: 355px !important; */
    width: 291px;
    height: 355px;
    object-fit: cover; /* Esse atributo centraliza a imagem perfeitamente ao centro do slide, permitindo subir fotos de qualquer proporcao */
    object-position: center;
    border-radius: 4px
}
