/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-link--main-shelf { */
:global(.vtex-container-container--shelf-featured) .link--main-shelf {
    text-decoration: none
}

/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-textContainer--main-shelf { */
:global(.vtex-container-container--shelf-featured) .textContainer--main-shelf {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -92px;
    height: 0 /* Normaliza o componente para nao esticar o slider component */
}

/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-text--main-shelf { */
:global(.vtex-container-container--shelf-featured) .text--main-shelf {
    background-color: #fff; /* mudar para fff */
    color: #161413;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 50px;
    transition: all .3s ease-in-out
}

/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-link--main-shelf:hover .sunhouse-slider-layout-0-x-text--main-shelf { */
:global(.vtex-container-container--shelf-featured) .link--main-shelf:hover .text--main-shelf {
    background-color: #161413; /* mudar para fff */
    color: #fff
}

/* .sunhouse-container-1-x-container--shelf-featured .sunhouse-slider-layout-0-x-imageItem--main-shelf { */
:global(.vtex-container-container--shelf-featured) .imageItem--main-shelf {
    border-radius: 4px;
    min-height: 355px;
    max-height: 355px !important;
    object-fit: cover /* Esse atributo centraliza a imagem perfeitamente ao centro do slide, permitindo subir fotos de qualquer proporcao */
}
