/* Estilo do container das opcoes de variações START */
.skuSelectorContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

/* Estilizacao das 'bolinhas' das variações START */
/* .sunhouse-enhanced-sku-selector-1-x-skuSelectorItem--sku-selector_default { */
.skuSelectorItem--sku-selector_default {
    /* width: 35px !important;
    height: 35px !important; */
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%
}

.skuSelectorItemImage--sku-selector_default {
    background: unset !important; /* Usei background simples pois nao sei qual tipo de bg esta sendo aplicado */
    border-radius: 50px
}

/* .sunhouse-enhanced-sku-selector-1-x-skuSelectorInternalBox--sku-selector_default { */
.skuSelectorInternalBox--sku-selector_default {
    border-radius: 100%
}

.valueWrapper--sku-selector_default {
    /* width: 35px;
    height: 35px; */
    width: 40px;
    height: 40px;
    padding: 2px !important
}

.skuSelectorItemImageValue--sku-selector_default {
    /* width: 35px;
    height: 35px; */
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%
}
/* Estilizacao das 'bolinhas' das variações END */

.skuSelectorContainer .skuSelectorSubcontainer {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 12px !important
}

.skuSelectorName {
    font-weight: bold;
    color: #161413
}

.skuSelectorNameContainer {
    width: 100%
}

.skuSelectorSelectContainer {
    width: 100%;
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList {
    margin: 8px 0;
    flex-wrap: wrap;
    gap: 8px 12px
}

/* Seletor sem thumbnails */
.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem {
    margin: 0 2.5px;
    width: 44px;
    height: 23px;
    /* outline: 1px solid #161413; */
    outline: 1px solid #f6f6f6;
    background-color: #eee;
    transition: outline-color .3s
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem:hover {
    outline-color: #16141386
}

/*  VER O QUE SAO ABAIXO: */
.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem .frameAround {
    display: none
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox {
    border: none
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox .valueWrapper {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #161413;
    padding: 0
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox .valueWrapper--product-page--unavailable {
    color: #c8c8c8
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList .skuSelectorItem--selected {
    outline-color: #f90042a4;
    outline-width: 2px
}

.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorOptionsList :global(.vtex-dropdown__button) {
    color: #bcbbbb /* Cor final validada Refresh */
}

/* Popper de exibicao das cores/acabamentos */
.imagePopperLabel {
    font-weight: 600;
    color: #161413;
    padding-bottom: 0.5rem
}
