.container--exclusive-cta_line-2 {
    display: block;
    width: 100%
}

/* .wrapper--exclusive-cta_text .heading {
    margin-bottom: 28px !important
} */

.paragraph--exclusive-cta_line-2 {
    margin: 16px 0 0 0;
    padding: 12px 14px;
    border-radius: 12px;
    background: #ffffff99;
    border: 1px dashed #F9D7E0;
    font-size: clamp(13px, 2vw, 15px)
}
