.productHighlightText--image-flags {
    padding: 3px 10px;
    margin-right: 8px;
    text-transform: uppercase !important; /* ver se mantem isso */
    border-radius: 5px
}

/*.productHighlightText[data-highlight-id="218"] {
    color: #fff;
    background-color: #00b700 !important;
    color: #fff !important
}

.productHighlightText[data-highlight-id="252"] {
    color: #fff;
    background-color: #f9004180
}

.productHighlightText:nth-child(odd) {
    color: #2d2926;
    background-color: #ffda0080
}

.productHighlightText:nth-child(even) {
    color: #fff;
    background-color: #f90041
} */