@media screen and (max-width: 1024px) {

    .heading--product-highlight-shelf {
        max-width: unset;
        margin-top: 56px
    }

    .strong--product-highlight-text {
        flex-direction: column;
        align-items: flex-end
    }

    /* .vtex-rich-text-0-x-italic--product-highlight-text { */
    .italic--product-highlight-text {
        opacity: .7
    }    

}
