.flexRow--product-image-highlight-wrapper {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden; /* Ideal para nao gerar scroll horizontal - que é gerado por conta da regra de estourar a largura do container */
    width: 100%;
    height: auto;
    min-height: 1184px;
    max-height: 1184px;
    background-color: #ededed
}
