/* .vtex-store-components-3-x-imageElement--image-highlight { */
.imageElement--image-highlight {
    filter: brightness(80%);
    object-fit: cover;
    width: 100vw;
    max-width: unset;
    min-height: 1184px;
    max-height: 1184px;
    margin-left: 50%;
    transform: translateX(-50vw)
}
