/* .sunhouse-container-1-x-wrapper--top-bar { */
.wrapper--top-bar {
    /* display: none !important */
    background-color: #161413 /* Cor final Refresh validada */
}

.container--institutional {
    /* margin-top: 136px; */
    /* margin-top: 165px */
    margin-top: 175px
}

.container--institucional-landing {
    /* margin-top: 136px !important */
    margin-top: 175px !important
}

/* .imageElement--lp_banner-hero {
    margin-top: -42px
} */

.imageElement--lp_banner-hero {
    /* margin-top: 112px */
    /* margin-top: 136px */
    /* margin-top: 165px */
    margin-top: 152px
}

/* Mobile */
@media screen and (max-width: 1024px) {

    /* .sunhouse-container-1-x-wrapper--header--mobile__main { */
    .wrapper--header--mobile__main {
        background-color: #fff
    }
    
    .container--header {
        height: 102px
    }

    .container--institutional {
        /* margin-top: 0 */
        margin-top: 85px
    }

    .container--institucional-landing {
        /* margin-top: 0 !important */
        margin-top: 85px !important
    }

    .imageElement--lp_banner-hero {
        /* margin-top: 0 */
        margin-top: 65px
    }

}
