.wrapper--top-bar {
    background-color: #161413
}

.container--institutional {
    margin-top: 175px
}

.container--institucional-landing {
    margin-top: 175px !important
}

/* .imageElement--lp_banner-hero {
    margin-top: 152px
} */
 