/* Movido para o arquivo product/new--product/vtex.flex-layout.css
.flexRow--product-main {
    padding-top: 32px !important
} */

/* .flexRow--product-highlight-coupon {
    margin-top: 182px
} */

.flexRow--wishlist-content {
    /* margin-top: 64px */
    margin-top: 105px
}

/* Mobile */
@media screen and (max-width: 1024px) {

    .flexRow--wishlist-content {
        /* margin-top: -32px */
        margin-top: 20px
    }

    /* Movido para o arquivo product/new--product/product-images/single-image-highlight/mobile/vtex.flex-layout.css */
    /* .flexRow--product-main-mobile {
        margin-top: 65px
    } */

}
