/* .searchResultContainer--search-result { -> Inativei pois estava duplicando com a regra abaixo - rever se algum template vai perder o ajuste
    margin-top: 112px
} */

.container--layout {
    margin-top: 112px
}

@media screen and (max-width: 1024px) {
    .container--layout {
        margin-top: 0
    }
}