.flexRow--product-main {
    margin-top: 112px
}

.flexRow--wishlist-content {
    margin-top: 64px
}

@media screen and (max-width: 1024px) {
    .flexRow--wishlist-content {
        margin-top: -32px
    }
}