/* Ainda nao esta funcionando a animacao
   Sera lançado sem mesmo, nao impacta na funcionalidade */
/* .vtex-disclosure-layout-1-x-content--seo-disclosure { */
/* .content--seo-disclosure {
    transition: all .8s - Ainda ficou meio travada a animacao, mas nao tem como fazer melhor a principio
} */

.content--seo-disclosure--hidden {
    display: block !important;
    max-height: 335px;
    overflow: hidden;
    /* box-shadow: 0 14px 6px -8px #b3b3b3; */
    box-shadow: inset 0px -29px 14px -24px #777777;
    border-radius: 0 0 24px 24px
}

.content--seo-disclosure--visible {
    height: auto
}

.trigger--seo-disclosure {
    display: block;
    margin: 24px auto 0;
    background-color: #a8a8a829;
    text-align: center;
    border-radius: 50px;
    border: 0;
    padding: 0 32px;
    height: 48px;
    transition: .2s ease-in
}

.trigger--seo-disclosure:hover {
    cursor: pointer;
    background-color: #FFDA00
}

.trigger--seo-disclosure:hover :global(.vtex-rich-text-0-x-paragraph--seo-disclosure) {
    color: #fff;
    text-shadow: 0 0 5px #6c6c6c
}
