.wrapper--differentials--home {
    margin: 0px 0;
    /* background-color: #ffe133 */
    background-color: #ffe13390;
    background-color: #000;
    height: 90px;
    display: flex;
    align-items: center
}

.container--differentials-container {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px */
    gap: 70px
}
