.differentialContainer--home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: #2d2926
}

.differentialContainer--home .icon {
    margin-right: 18px !important;
    /* height: 30px !important; */
    /* width: auto */
    height: 65px !important;
    width: 65px
}

.differentialIcon--home {
    width: 65px
}

.differentialContainer--home .paragraph {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* color: #2d2926
    color: #FFDA00 */
    color: #fff
}

/* Mobile */
@media screen and (min-width: 1024px) {
    
    .differentialContainer--home {
        margin: 0;
        padding: 0;
        border-right: none
    }

}
