/* info-card nativo */
:global(.vtex-store-components-3-x-container--main-banner-home):has(:global(.vtex-store-components-3-x-heading--main-banner-home)):nth-child(2) {
    margin: 24px auto 0
}

:global(.vtex-store-components-3-x-container--main-banner-home):has(:global(.vtex-store-components-3-x-heading--main-banner-home)):nth-child(3) {
    margin: 0 auto 12px
}

/* info-card-list (sunhouse.slider-layout) */
:global(.sunhouse-slider-layout-0-x-container--main-banner-home):has(:global(.sunhouse-slider-layout-0-x-heading--main-banner-home)):nth-child(2) {
    margin: 24px auto 0
}

:global(.sunhouse-slider-layout-0-x-container--main-banner-home):has(:global(.sunhouse-slider-layout-0-x-heading--main-banner-home)):nth-child(3) {
    margin: 0 auto 12px
}

/* Remove overlay duplicado do slide quando contem info-card */
/* :global(.sunhouse-slider-layout-0-x-slideChildrenContainer--banner-main):has(:global(.sunhouse-slider-layout-0-x-infoCardContainer--main-banner-home))::after {
    display: none
} */
