.listPrice--product-shelf-price,
.sellingPrice--product-shelf-price {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

/* .listPrice--product-shelf-price {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #575451
} */

.sellingPrice--product-shelf-price {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 4px
}

.sellingPrice {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal
}

.sellingPrice .sellingPriceValue {
    font-weight: 700
}

.sellingPrice--product-shelf-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap
}

.sellingPrice-bold {
    font-weight: bold
}

.listPrice {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: normal;
    color: #817f7d;
    text-decoration: line-through
}

.listPrice--product-shelf-price {
    font-size: 20px;
    font-weight: normal; /* Ideal testar 500 apos ajustar o font-faces.css */
    /* line-height: 17px; */
    line-height: normal;
    /* margin-right: 20px; */
    white-space: nowrap;
    /* color: #252525 */
    color: #979797
}

.listPrice .listPriceValue {
    text-decoration: none
}

.listPrice-bold {
    font-weight: bold
}

.installments--shelf-installments {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: left !important;
    line-height: 19px;
    font-size: 14px
}

.installments--shelf-installments .installments-bold {
    font-weight: 700
}

.sellingPrice--product-page-best-price,
.sellingPrice--product-page-price {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    white-space: nowrap
}

.listPrice--product-page-list-price {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
    display: block;
    opacity: .5;
    color: #2d2926
}

.installments {
    font-style: normal;
    font-weight: normal;
    /* font-size: 14px; */
    font-size: 16px;
    text-align: center
}

.installments .installments-bold {
    font-weight: bold
}

.installments--product-page {
    display: block;
    line-height: 19px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-transform: uppercase
}

.installments--installments-item,
.installments--installments-item-total {
    line-height: 14px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    white-space: nowrap
}

.installments--installments-item {
    text-align: left;
    justify-content: flex-start;
    padding-left: 14px
}

.installments--installments-item-total {
    justify-content: flex-end;
    padding-right: 14px
}

.installmentValue--installments-item {
    padding-left: 3px;
    font-weight: bold;
    color: #f90041
}

.installmentsTotalValue--installments-item-total {
    padding-left: 3px
}

.sellerNameContainer {
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2d2926;
    opacity: .5;
    text-decoration: none;
    text-transform: unset
}

.sellerNameContainer::before {
    content: "|";
    padding: 0 5px
}

.savings--discount-seal {
    display: block;
    width: 67px;
    padding: 3px 0;
    background-color: rgba(249, 0, 65, .8);
    font-weight: 700 !important;
    text-transform: uppercase !important;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #fff
}

.savings--discount-seal .savingsPercentage::before {
    content: "-"
}

/* Mobile */
@media screen and (max-width: 1024px) {

    .installments--product-page {
        white-space: normal;
        text-align: left
    }

}
