/* Containers Gerais */
.container--product-description .imageElement--container_desc-banner__imagemDescricao {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%
}

.container--product-description .imageElement--custom-description-banner {
    max-width: unset; /* Fix para estilo herdado do Custom Description Banner */
    margin-left: 0; /* Fix para estilo herdado do Custom Description Banner */
    border-radius: 4px
}

/* Containers de Texto - Full ScreenWidth */
.container--product-description-text {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50vw)
}

.container--product-description-important-text {
    border-top: 1px solid #2d2926
}

.container--product-description-brand-text {
    border-top: 1px solid #2d2926;
    margin-top: 0;
    margin-bottom: 32px
}

/* FAQ */
.container--product-faq {
    margin: 64px 0 24px
}

.container--product-faq .container--custom-block__faq-disclosure {
    border-radius: 4px;
    background-color: #f6f6f6
}
