/* Descricao do Produto - Herdada do Movelsoft */
/* .vtex-store-components-3-x-productDescriptionText--product-description_right-text { */
.productDescriptionText--product-description_right-text {
    /* margin: 62px */
    margin: 0 62px 0 62px
}

/* Descricao do produto - Cadastrada via Catalog/ERP na VTEX */
.productDescriptionText {
    /* font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px; */
    line-height: 1.35;
    /* color: #2d2926; - Alterar conforme padrao Refresh Edson */
    color: #161413; /* Padrao final Refresh */
    /* text-transform: unset; */
    /* padding-bottom: 1.5rem; */

    /* DEBUG */
    /* background: red; */
    /* DEBUG */
}
