.wrapper--product-description-simple {
    margin: 0 62px 0 62px
}

/* Textos do Final do Bloco de Descricao */
.wrapper--product-description-important-text {
    max-width: 1200px
}

.wrapper--product-description-brand-text {
    max-width: 1000px
}

.wrapper--product-description-important-text {
    padding: 24px 0 32px 0
}

.container--product-description-brand-text {
    padding: 64px 0 24px 0
}

.paragraph--product-description-text {
    line-height: 1.5
}

/* Seleciona o segundo elemento através da interseção de dois seletores nth-child */
.paragraph--product-description-text:nth-child(n + 2):nth-child(-n + 2) {
    margin-top: 38px
}

/* Define tamanho padrao para todos os headings utilizados na descricao do produto 
   Em todas as seções de descrição */
.container--product-description .heading--product-description {
    font-size: 42px
}

/* Listas de Descricao */
.list--wrapper__textoDescricao-esquerda {
    padding-left: 20px;
    line-height: 1.5
}

.listItem--wrapper__textoDescricao-esquerda {
    margin-bottom: 14px
}

/* FAQ */
.container--product-faq-title {
    justify-content: center;
    margin-bottom: 24px
}
