/* Ajustes abaixo aplicados de forma escopada para a pagina de produto 
   Aplicar css neste arquivo é livre de restrições comuns da VTEX, portanto, seletores
   depreciados serão aplicados sem problemas - ALGUNS AINDA PRECISAM SER VERIFICADOS! */

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h1,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h2,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h3,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h4,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h5,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h6 {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-size: 42px;
    font-weight: 500;
    color: #161413 !important;
    /* line-height: normal; */
    line-height: 1.1;
    margin: 0 /* Fix para margem herdada da VTEX */
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h1 b,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h2 b,
:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h3 b {
    font-weight: 500 !important
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h2 {
    font-size: 40px !important
    /* margin: 24px 0 38px 0 */
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h3 {
    font-size: 37px !important;
    margin: 24px 0 38px 0
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h4 {
    font-size: 33px !important;
    margin: 24px 0 38px 0
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h5 {
    font-size: 29px !important;
    margin: 24px 0 38px 0
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) h6 {
    font-size: 24px !important;
    margin: 24px 0 38px 0
}

:global(.render-route-store-product)  :global(.vtex-store-components-3-x-productDescriptionText) span {
    font-family: "Onest", sans-serif;
    font-size: 16px;
    color: #161413 !important;
    line-height: 1.5
}
