.headingLevel2--trustvox-colt-highlight_text {
    font-size: 25px;
    padding-bottom: 2px;
    padding-left: 12px
}

.paragraph--trustvox-colt-highlight_text {
    font-size: 14px;
    padding-bottom: 24px
}