.container--product-description-buy-together {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 791px;
    margin-top: 48px;
    margin-left: 50%;
    /* margin-bottom: -2px; */
    margin-bottom: -66px; /* Fix para melhor visual agora que existe o bloco de avaliacoes */
    transform: translateX(-50vw);
    background-color: #f6f6f6
}
