/* Esse Css mantem - ele configura visualmente apenas o container de Compre Junto
   De qualquer forma, desabilitar ele temporariamente para testar o layout nativo do app */

.container--product-description-buy-together {
    width: 100vw;
    height: calc(100vh - 108px);
    margin-left: 50%;
    transform: translateX(-50vw);
    background-color: #ededed; /* Ou: #f6f6f6 */
}
