/* A principio TODO o Css desse componente vira nativamente via App React
   Alguns ajustes poderao ser feitos aqui via Store Theme sim, porem, a ideia
   é ja vir pronto para uso nativo via App React */

/* .vtex-flex-layout-0-x-flexRowContent--buyTogetherContainer { */
/* .flexRowContent--buyTogetherContainer {
    margin: 0 auto;
    justify-content: center
} */

/* .flexCol--buy-together-info {
    border-radius: 5px;
    align-items: center;
    width: 292px !important;
    height: 292px;
    background-color: #fdb3c6
}

@media screen and (max-width:638px) {
    
    .flexCol--buy-together-info {
        margin-top: 20px
    }

} */

/* MIGRAR APLICACAO DO ESTILO PARA APP REACT SE POSSIVEL */
.flexRowContent--buyTogetherContainer {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto
}

/* .vtex-flex-layout-0-x-flexCol--bt-plus-icon { */
.flexCol--bt-plus-icon {
    position: relative;
    z-index: 2;
    width: 0
}

/* .vtex-flex-layout-0-x-flexCol--bt-plus-icon svg { */
.flexCol--bt-plus-icon :global(.vtex-store-icons-0-x-plusIcon) {
    width: 20px !important;
    height: 20px !important;
    background-color: #fff;
    padding: 16px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #ccc
}
