/* .slideChildrenContainer--lp_grid-slider {
    margin-right: 28px
}

.slideChildrenContainer--lp_grid-slider:last-child {
    margin-right: unset
} */

.sliderTrack--lp_grid-slider {
    gap: 28px;
}