/* Text-Block */
.container--lp_text-block {
    margin: 28px 0
}

/* Video Highlight */
.container--lp-video-highlight {
    height: 0;
    margin: unset !important
}

.container--lp-video-highlight {
    position: absolute;
    z-index: 1;
    background: #00000080;
    width: 100%;
    height: 684px
}