/* Video Highlight */
.videoContainer--lp_video-highlight {
    pointer-events: none
}

/* Video Footer */
.videoContainer--lp_footer-highlight_video {
    display: flex;
    align-items: center;
    flex-direction: column
}