/* General */
.flexRow--wrapper-row {
    margin-bottom: 48px
}

/* BG Row Wrapper */
.flexRow--background-line {
    /* cor teste:
    background-color: #4f549b; */
    background-color: #f1f1f1
}

/* Footer Row Wrapper */
.flexRow--footer-line {
    background: #4f549b;
    height: 500px;
    display: flex;
    flex-direction: column-reverse
}