@media screen and (max-width: 1024px) {

    /* .sunhouse-container-1-x-wrapper--top-bar-cron { */
    .wrapper--top-bar-cron {
        position: fixed;
        width: 100%;
        z-index: 5;
        top: 0
    }

    .container--top-bar-cron {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px
    }

}
