/* .sunhouse-container-1-x-container--corporate-shelf-grid { */
.container--corporate-shelf-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    /* gap: 8px; */
    gap: 32px 0
}
