@media screen and (max-width: 1024px) {

    .infoCardContainer--main-banner-home {
        position: relative;
        height: 100%
    }

    .infoCardContainer--main-banner-home::after {
        top: auto /* Pode resultar em bug */
    }

    .infoCardContainer--main-banner-home::after {
        height: 100%
    }

    .infoCardTextContainer--main-banner-home {
        margin-bottom: 76px
    }
    
    /* .vtex-store-components-3-x-paragraph--main-banner { */
    .paragraph--main-banner-home {
        width: 85%
    }

    /* Fix para nao quebrar o layout do texto H1 no Mobile view.
       Pode ser evoluido posteriormente para aparecer de forma correta */
    .container--main-banner-home:first-child .heading--main-banner-home::after,
    .container--main-banner-home:first-child .heading--main-banner-home::before {
        display: none
    }

    /* Fix alternativo temporario para não quebrar layout em mobile com o uso desse detalhe visual */
    /* AINDA PRETENDO CORRIGIR ISSO PARA MOSTRAR O DETALHER DE FORMA CORRETA */
    .container--main-banner-home:first-child .paragraph--main-banner-home::before,
    .container--main-banner-home:first-child .paragraph--main-banner-home::after {
        display: none
    }

}
