.infoCardContainer--main-banner-home {
    height: 100vh;
    border: 0 /* Fix para remover borda inferior do banner que vem como padrao do componente VTEX */
}

/* Gera backdrop para criar efeito de opacidade no banner */
.infoCardContainer--main-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.4
}

.infoCardContainer--main-banner-home::after {
    height: 100vh
}

.infoCardTextContainer--main-banner {
    z-index: 2;
    margin-top: 152px;
    width: 100%;
    max-width: unset
}

/* .container--main-banner-home:first-child .heading--main-banner-home::before,
.container--main-banner-home:first-child .heading--main-banner-home::after {
    content: "/";
    color: #FFDA00;
    margin-left: 20px;
    margin-right: 20px
} */

/* .vtex-store-components-3-x-container--main-banner-home:first-child .vtex-store-components-3-x-paragraph--main-banner-home:after,
.vtex-store-components-3-x-container--main-banner-home:first-child .vtex-store-components-3-x-paragraph--main-banner-home:before { */
.container--main-banner-home:first-child .paragraph--main-banner-home::after,
.container--main-banner-home:first-child .paragraph--main-banner-home::before {
    content: "/";
    color: #ffda00;
    margin-left: 20px;
    margin-right: 20px
}

.heading--main-banner,
.paragraph--main-banner {
    color: #fff
}

.heading--main-banner {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0
}

/* .heading--main-banner-home {
    font-size: 5rem;
    text-transform: uppercase
} */

/* .vtex-store-components-3-x-heading--main-banner-home - deixei aqui para referencia caso seja necessario usar para qualquer nivel de heading */
/* .vtex-store-components-3-x-headingLevel1--main-banner-home { */
.headingLevel1--main-banner-home {
    font-family: Onest, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    width: 55%;
    margin: 24px auto 12px
}

/* .vtex-store-components-3-x-container--main-banner-home .vtex-store-components-3-x-paragraph--main-banner-home { */
.container--main-banner-home .paragraph--main-banner-home {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Bai Jamjuree, serif;
    line-height: 1.2;
    margin: 0
}

/* .vtex-store-components-3-x-paragraph--main-banner-home { */
.paragraph--main-banner {
    font-family: 'Onest', sans-serif; /* Fonte final validada Refresh */
    font-size: 22px;
    text-align: center;
    /* width: 55%; - Estava crashando o layout do texto principal na pagina corporate */
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px
}

/* BOTAO - Replicar para todos botoes de CTA possiveis do site START */
.infoCardCallActionContainer--main-banner-home :global(.vtex-button) {
    background-color: unset;
    border-color: #fff;
    border-radius: 50px;
    padding: 12px 18px;

    /* Propriedades base do botão animado */
    position: relative; /* Essencial para posicionar o ::before */
    display: inline-block;
    padding: 10px 0px;
    border: 2px solid #fff;
    background-color: transparent; /* Cor de fundo inicial transparente */
    color: #fff; /* Cor do texto inicial */
    cursor: pointer;
    overflow: hidden; /* Corta o ::before fora da área do botão */
    z-index: 1; /* Garante que o texto fique acima do ::before */
    transition: color 0.4s ease-in-out
    /* Propriedades base do botão animado */
}

.infoCardCallActionContainer--main-banner-home :global(.vtex-button)::before {
    content: "";
    /* Posicionamento e tamanho iniciais do preenchimento */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Largura inicial zero */
    
    background-color: #ffda0078; /* Cor que preencherá o botão - MUDAR DE ACORDO COM O IDEAL PARA O REFRESH */
    z-index: -1; /* Coloca o preenchimento por trás do texto */
  
    /* transform: skewX(-15deg); */ /* Inclina o pseudo-elemento em -45 graus */
    /* transform-origin: top left; */ /* Garante que a inclinação comece do canto superior esquerdo */
  
    /* AQUI ESTÁ A CHAVE DA ANIMAÇÃO: */
    transition: width 0.4s ease-in-out
}
  
/* Estado de HOVER (Passar o mouse) */
.infoCardCallActionContainer--main-banner-home :global(.vtex-button):hover {
    color: #ffffff /* Muda a cor do texto para branco */
}
  
/* .vtex-store-components-3-x-infoCardCallActionContainer--main-banner-home .vtex-button:hover::before { */
.infoCardCallActionContainer--main-banner-home :global(.vtex-button):hover::before {
    width: 100% /* A largura aumenta de 0% para 100%, preenchendo o botão */
    /* width: 150%; */ /* Para quando usar o skew */
}
/* BOTAO - Replicar para todos botoes de CTA possiveis do site END */

.infoCardCallActionContainer--main-banner-home :global(.vtex-button__label)::after {
    content: "\F134";
    font-family: "Bootstrap-Icons";
    font-size: 24px;
    margin-left: 12px
}
