
/* Gera backdrop para criar efeito de opacidade no banner */
/* Aplica para todos banners desse tipo */
.infoCardContainer--main-banner::after {
    content: "";
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.4
}
