/* New Shelf mouse hover system */
.flexCol--shelf-product-available :global(.vtex-container-wrapper--new-shelf),
.flexCol--shelf-product-available .flexCol--shelf-buy-button {
    transition: all .2s ease-in-out
}

.flexCol--shelf-product-available:hover :global(.vtex-container-wrapper--new-shelf),
.flexCol--shelf-product-available .flexCol--shelf-buy-button {
    opacity: 0;
    visibility: hidden
}
