.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-exclusive-button),
.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-corporate-button),
.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-unavailable) {
    visibility: hidden;
    opacity: 0;
    position: relative
}

.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-exclusive-cta),
.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-corporate-cta),
.flexCol--hover-block-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--shelf-product-unavailable-cta) {
    visibility: visible;
    opacity: 1
}
