/* TUDO ABAIXO PRECISA SER MIGRADO PARA O ARQUIVO DE CSS DO APP CUSTOM
   DE PRODUCT IMAGES - QUE AINDA NAO FOI FEITO DEPLOY */


/* Esse precisa ser revisto - nao esta aplicando sempre na imagem
   Porem, esta visualmente aceitavel, ajustar se tiver tempo habil */
.productImage--product-images-v2,
.productImageTag--product-images-v2 {
    border-radius: 4px
}

/* .sunhouse-store-components-images-0-x-productImageTag--product-images-v2--main { */
.productImageTag--product-images-v2--main {
    cursor: zoom-in
}

/* Swiper Thumbnails START */
/* .sunhouse-product-images-custom-1-x-productImagesThumbActive .sunhouse-product-images-custom-1-x-carouselThumbBorder { */
.productImagesThumbActive .carouselThumbBorder {
    border-color: #FFDA00 !important;
    border-width: 3px !important
}

/* Tamanho mínimo para thumbnails quando há menos de 3 slides */
/* .sunhouse-product-images-custom-1-x-carouselGaleryThumbs .swiper-slide { */
.carouselGaleryThumbs .productImagesGallerySlide {
    min-width: 150px /* Ajuste conforme sua medida ideal */
}
  
  /* Desktop force */
@media screen and (min-width: 1025px) {

    /* .sunhouse-product-images-custom-1-x-carouselGaleryThumbs .swiper-slide { */
    .carouselGaleryThumbs .productImagesGallerySlide {
        min-width: 200px /* Ver tamnho correto no arquivo de blocks json que cria o componente de imagens */
    }

}
/* Swiper Thumbnails END */


/* Mobile - AJUSTAR ANTES DE ATIVAR */
/* @media screen and (max-width: 39.99em) {
    
    / Swiper Thumbnails START /
    / .sunhouse-product-images-custom-1-x-carouselGaleryThumbs .swiper-slide { /
    .carouselGaleryThumbs :global(.swiper-slide) {
        min-width: 100px;
    }

} */
