.container--shelf-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 48px
}

.container--shelf-grid :global(.vtex-product-summary-2-x-container--main-shelf-new) {
    max-width: unset !important
}

.container--shelf-grid :global(.vtex-store-components-3-x-discountContainer),
.container--shelf-grid :global(.vtex-product-summary-2-x-imageContainer--new_main-shelf) {
    width: 100%
}

.container--shelf-grid :global(.vtex-product-summary-2-x-image--new_main-shelf) {
    max-width: unset !important
}

/* .sunhouse-container-1-x-container--shelf-grid .vtex-store-components-3-x-discountInsideContainer { */
.container--shelf-grid :global(.vtex-store-components-3-x-discountInsideContainer) {
    top: 47px !important
}

/* .sunhouse-container-1-x-container--shelf-grid .vtex-stack-layout-0-x-stackItem--add-to-list-btn { */
.container--shelf-grid :global(.vtex-stack-layout-0-x-stackItem--add-to-list-btn) {
    top: 32px !important
}
