.wrapper--unavailable-cta_text {
    margin-top: 24px
}

.wrapper--unavailable-cta_text .heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center
}

.paragraph--unavailable-cta_text {
    text-align: justify;
    line-height: 1.35
}