@media screen and (max-width: 1024px) {

    /* .vtex-flex-layout-0-x-flexRow--product-main-mobile { */
    .flexRow--product-main-mobile {
        margin-top: 65px /* Esse pode ser util quando nao tiver a imagem de destaque */
        /* margin-top: 0;
        position: relative;
        top: -165px */
    }

    /* .vtex-flex-layout-0-x-flexCol--mobile-first-fold { */
    .flexCol--mobile-first-fold {
        /* height: 100dvh */
        /* height: calc(100dvh - 165px) */
        /* min-height: 767px; */
        min-height: 734px;
        height: auto
    }

    /* .vtex-flex-layout-0-x-flexCol--mobile-first-fold .vtex-flex-layout-0-x-flexColChild--mobile-first-fold { */
    .flexCol--mobile-first-fold .flexColChild--mobile-first-fold {
        height: auto !important
    }
    

    /* .vtex-flex-layout-0-x-flexRow--product-image-highlight-wrapper { */
    .flexRow--product-image-highlight-wrapper {
        /* height: 100dvh; */
        min-height: 980px;
        max-height: 980px;
        /* height: auto; */
        top: 0;
        left: 0

        /* DEBUG */
        /* ;display: none; */
        /* DEBUG */       
    }

    /* .vtex-flex-layout-0-x-flexRow--breadcrumb-product { */
    .flexRow--breadcrumb-product {
        margin-top: 28px
    }

}
