@media screen and (max-width: 1024px) {

    .flexRow--product-main-mobile {
        /* margin-top: 65px */
        margin-top: 132px /* Precisou ajustar pois foi criado um novo componente nesse bloco, o de codigo de produto */
    }

    .flexCol--mobile-first-fold {
        min-height: 734px;
        height: auto
    }

    .flexCol--mobile-first-fold .flexColChild--mobile-first-fold {
        height: auto !important
    }
    
    .flexRow--product-image-highlight-wrapper {
        min-height: 980px;
        max-height: 980px;
        top: 0;
        left: 0
    }

    .flexRow--breadcrumb-product {
        margin-top: 28px
    }

}
