/* Aplicar assim aplica no header fixo tambem - validar correcao do header fixo START */
/* .vtex-store-link-0-x-link--wishlist .vtex-store-components-3-x-heartIcon { */



/* ESSE SISTEMA parece ser util para aplicar estilo num elemento fora do arquivo base do app vtex - TESTAR */
.link--wishlist :global(.vtex-store-components-3-x-heartIcon) {
    color: #FFDA00 !important
}
/* TESTAR */



/* .vtex-store-link-0-x-link--header-links,
.vtex-store-components-3-x-storesIcon { */
.link--header-links {
    color: #FFDA00
}

/* Esse vai em outro arquivo acredito
.sunhouse-minicart-2-x-minicartIconContainer--minicart-main .vtex-store-icons-0-x-cartIcon {
    color: #FFDA00
} */

/* Aplicar assim aplica no header fixo tambem - validar correcao do header fixo END */