/* Aplica globalmente as alteracoes do esquema de cor do header quando não existe nenhum .hideFirstImage no documento. 
   O hideFirstImage é um classe que é aplicada na primeira imagem do produto quando existe imagem de destaque na PDP.
   Portanto, estilos abaixo deverao funcionar somente na PDP sob as condicoes acima */

/* PDP */
/* body:not(:has(:global(.hideFirstImage))) * { */
:global(.render-route-store-product):not(:has(:global(.hideFirstImage))) * {
    --header-text-color: #161413
}

/* body:not(:has(:global(.hideFirstImage))) :global(.sunhouse-container-1-x-container--menu) { */
:global(.render-route-store-product):not(:has(:global(.hideFirstImage))) :global(.sunhouse-container-1-x-container--menu) {
    border-bottom: 1px solid #161413
}

:global(.render-route-store-product):not(:has(:global(.hideFirstImage))) :global(.vtex-container-container--minicart-container) {
    border-color: #161413
}

/* Search and PLP Pages */
:global(.render-container.render-route-store-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) *,
:global(.render-container)[class*="render-route-store-search-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) *,
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) * {
    --header-text-color: #161413
}

:global(.render-container.render-route-store-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-container-1-x-container--menu),
:global(.render-container)[class*="render-route-store-search-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-container-1-x-container--menu),
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-container-1-x-container--menu) {
    border-bottom: 1px solid #161413
}

:global(.render-container.render-route-store-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.vtex-container-container--minicart-container),
:global(.render-container)[class*="render-route-store-search-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.vtex-container-container--minicart-container),
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.vtex-container-container--minicart-container) {
    border-color: #161413
}

:global(.render-container.render-route-store-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-notFound--layout),
:global(.render-container.render-route-store-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-searchResultContainer),
:global(.render-container)[class*="render-route-store-search-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-searchResultContainer--search-result),
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-searchResultContainer--search-result),
:global(.render-container)[class*="render-route-store-search-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-notFound--layout),
:global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-"]:not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-notFound--layout) {
    margin-top: 242px
}

/* Not Found Search Global */
:global(.render-container.render-route-store-not-found-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) * {
    --header-text-color: #161413
}

:global(.render-container.render-route-store-not-found-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-container-1-x-container--menu) {
    border-bottom: 1px solid #161413
}

:global(.render-container.render-route-store-not-found-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.vtex-container-container--minicart-container) {
    border-color: #161413
}

:global(.render-container.render-route-store-not-found-search):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) :global(.sunhouse-search-result-3-x-notFound--layout) {
    margin-top: 242px
}

/* Login Page */
:global(.render-container.render-route-store-login) :global(.vtex-render__container-id-vtex\.login\:login-content) {
    margin-top: 124px
}

:global(.render-container.render-route-store-login):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) * {
    --header-text-color: #161413
}

/* Wishlist Page */
:global(.render-container.render-route-store-wishlist) :global(.vtex-render__container-id-wishlist-content) {
    margin-top: 124px
}

:global(.render-container.render-route-store-wishlist):not(:has(:global(.vtex-store-components-3-x-infoCardContainer))) * {
    --header-text-color: #161413
}

/* Institucional - Nossas Lojas */
:global(.render-container.render-route-vtex-store-2-x-store-custom-institucional-nossas-lojas) :global(.vtex-render__container-id-institutional) {
    margin-top: 124px
}

/* Esquema de switch para os icones do Link Wizard (coringa) do header */
/* Icone do Botao Showroom Virtual */
:global(.vtex-store-link-0-x-link--link-wizard[href*="/landing/nossas-lojas"]) :global(.vtex-store-link-0-x-label--link-wizard)::before {
    display: inline-flex;
    content: "\F1C8";
    font-family: "Bootstrap-Icons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 12px;
    color: #FFDA00
}

/* Icone do Botao Vendas Corporativas */
:global(.vtex-store-link-0-x-link--link-wizard[href*="/institucional/vendas-corporativas"]) :global(.vtex-store-link-0-x-label--link-wizard)::before {
    display: inline-flex;
    content: "\F1CC";
    font-family: "Bootstrap-Icons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 12px;
    color: #FFDA00
}

/* Desktop Force*/
@media screen and (min-width: 1025px) {
    
    :global(.render-container)[class*="render-route-vtex-store-2-x-store-custom-institucional-"] :global(.vtex-render__container-id-institutional),
    :global(.render-container.render-route-vtex-store-2-x-store-custom-institucional-app) :global(.vtex-render__container-id-institucional-landing) {
        margin-top: 124px
    }

}
