/* Textos da Prateleira Destaque */
/* .vtex-rich-text-0-x-heading--product-highlight-shelf { */
.heading--product-highlight-shelf {
    font-size: 42px;
    font-weight: 500;
    max-width: 70%; /* Pode ser necessario ajustar */
    margin-bottom: 25px
}

/* .vtex-rich-text-0-x-paragraph--product-highlight-shelf { */
.paragraph--product-highlight-shelf {
    font-family: "Onest", sans-serif;
    font-size: 16px;
    color: #5b5757;
    line-height: 1.5
}

/* Textos de detalhes do Produto Destaque */
/* .vtex-rich-text-0-x-wrapper--product-highlight-text { */
.wrapper--product-highlight-text {
    width: 100%
}

/* .vtex-rich-text-0-x-paragraph--product-highlight-text { */
.paragraph--product-highlight-text {
    width: 100%;
    font-family: "Onest", sans-serif;
    color: #5b5757
}

/* .vtex-rich-text-0-x-strong--product-highlight-text { */
.strong--product-highlight-text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -16px;
    color: #161413
}

/* .vtex-rich-text-0-x-strong--product-highlight-text:first-child { */
.strong--product-highlight-text:first-child {
    border-bottom: 1px solid;
    padding-bottom: 24px
}

/* Botao CTA Produto Destaque */
/* .vtex-rich-text-0-x-container--product-highlight_open-product { */
.container--product-highlight_open-product {
    display: flex;
    align-items: center
}

/* .vtex-rich-text-0-x-container--product-highlight_open-product { */
.container--product-highlight_open-product {
    /* background-color: #161413;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 24px;
    height: 52px; */
    border-radius: 50px;
    /* cursor: pointer;
    white-space: nowrap;
    transition: all .3s ease-in-out */
}

/* .vtex-rich-text-0-x-paragraph--product-highlight_open-product { */
.paragraph--product-highlight_open-product {
    display: flex;
    align-items: center;
    color: #e1dede;
    transition: all .3s ease-in-out
}

/* .vtex-rich-text-0-x-container--product-highlight_open-product:hover { */
/* .container--product-highlight_open-product:hover {
    background-color: #FFDA00
} */

/* .vtex-rich-text-0-x-container--product-highlight_open-product:hover .vtex-rich-text-0-x-paragraph--product-highlight_open-product { */
/* .container--product-highlight_open-product:hover .paragraph--product-highlight_open-product {
    color: #161413
} */

/* .vtex-rich-text-0-x-link--product-highlight_open-product { */
.link--product-highlight_open-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161413;
    color: #e1dede;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 24px;
    height: 52px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    z-index: 99 !important;
    transition: all .3s ease-in-out
}

/* .vtex-rich-text-0-x-container--product-highlight_open-product:hover .vtex-rich-text-0-x-link--product-highlight_open-product { */
.container--product-highlight_open-product:hover .link--product-highlight_open-product {
    color: #161413 !important
}

/* .vtex-rich-text-0-x-link--product-highlight_open-product::after { */
.link--product-highlight_open-product::after {
    content: "\F141";
    font-family: "Bootstrap-Icons";
    font-size: 18px;
    margin-left: 8px
}

.link--product-highlight_open-product:hover {
    background-color: #FFDA00;
    color: #161413
}
