/* Exclusive CTA */
.flexCol--product-exclusive {
    padding-top: 24px;
    margin-bottom: 20px
}

/* Corporate CTA */
.flexCol--product-corporate {
    margin-top: 99px;
    margin-bottom: 20px;
    padding-top: 24px
}
