/* .flexRow--product-main { -> removido por conta da faixa de desconto da pdp
    margin-top: 112px
} */

.flexRow--wrapper__highlight-pdp {
    margin-top: 145px
}

.flexRow--wishlist-content {
    margin-top: 64px
}

@media screen and (max-width: 1024px) {
    .flexRow--wishlist-content {
        margin-top: -32px
    }
}