.flexRow--product-main {
    padding-top: 32px !important /* PRECISA AJUSTAR ISSO DIRETAMENTE NA DECLARACAO DA PROPRIEDADE ORIGINAL EM OUTRO ARQUIVO */
}

.flexRow--product-highlight-coupon {
    margin-top: 145px
}

.flexRow--wishlist-content {
    margin-top: 64px
}

@media screen and (max-width: 1024px) {
    .flexRow--wishlist-content {
        margin-top: -32px
    }
}