/* Quantidade de Produtos da Pagina */
/* .vtex-search-result-3-x-showingProducts { */
.showingProducts {
    font-family: "Onest", sans-serif !important;
    text-transform: uppercase;
    font-weight: 500
}

/* .vtex-search-result-3-x-showingProducts::after { */
.showingProducts::after {
    content: "Resultados";
    margin-left: 4px
}
