.flexRowContent--minicart-footer-buttons {
    flex-direction: column
}

.flexRowContent--minicart-footer-buttons .stretchChildrenWidth {
    width: 100% !important
}

.flexRow--minicart-product:last-child {
    margin-bottom: 102px /* Fix para poder ver ultimo item do carrinho no caso de ter muitos no mesmo */
}

/* Minicart Product List - Image */
/* .vtex-flex-layout-0-x-flexCol--minicart-image { */
.flexCol--minicart-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

/* Minicart - Remove Product Button */
/* .vtex-flex-layout-0-x-flexColChild--minicart-remove:nth-child(even) { */
.flexColChild--minicart-remove:nth-child(even) {
    display: none
}
