/* Geral - mobile e desktop */
/* .vtex-flex-layout-0-x-flexRow--minicart-sku-name { */
/* .flexRow--minicart-sku-name {
    margin: 16px 0 24px;
} */

/* .vtex-flex-layout-0-x-flexRow--minicart-sku-name::before { */
/* .flexRow--minicart-sku-name::before {
    content: "Personalização:";
    font-size: 14px;
    line-height: 2.4
} */
